[2015-08-13 18:06] cognitom opened #1 ""riot-router" was already taken"
As natural naming convention, `riot-router` seems the best. But this name was already taken by another user. (and that seems also a nice library)
https://www.npmjs.com/package/riot-router

At this time, I've chosen `riot-route` for the package name.
https://github.com/riot/router/blob/master/package.json#L2

Any thought?

[2015-08-13 18:09] tipiirai commented on #1
I think we should contact the author and ask if he is willing to collaborate.

[2015-08-13 18:19] cognitom commented on #1
@tipiirai it would be great ;)

[2015-08-14 02:45] cognitom opened #2 "Roadmap and todos"
See also the discussion on https://github.com/riot/riot/issues/1063.

### v2.0.0

- [x] move `router` to this separated submodule from `riot`
- [x] make it UMD comatible
- [x] drop IE8 support
- [x] 100% coverage
- [x] solve the naming conflict (riot-router or riot-route or...?)
- [x] publish to npm https://www.npmjs.com/package/riot-route
- [x] publish to bower http://bower.io/search/?q=riot-rout

[2015-08-14 03:32] cognitom commented on #2
Basically I believe this module should be **minimal**. But in practical use, better to support these?

- URL matching: `/foo` then `function() {...}` and `/bar/:id` then `function(id) {...}` ...
- Queries: `?keyword=foo&offset=2`

Current API just support a single function as an argument:

[code]

I think we can safely extend API like this:

[code]

And we could use the last argument for the URL q

[2015-08-14 03:58] tipiirai commented on #2
I think the purpose of Riot router is precisely that: to be minimal. Should be safe to add to any project without adding extra bytes to the stack. If users need more elaborate routing they can pick from the wild array of other routers.

I think we don't want to be just another router without any difference and for me the API has been enough so far.

Thoughts?

[2015-08-14 04:38] cognitom commented on #2
Yeah, agreed. Thanks for your feedback. I don't want to make another router without any difference, too. Hmm.. but this feels too small, and others seems too big for me.
Anyway, in your point of view, do we need the support of history API?

[2015-08-14 06:29] GianlucaGuarini commented on #2
@cognitom you have done a good job!
For the API I would like to support at least all the routing patterns supported by [pagejs](https://visionmedia.github.io/page.js/) avoiding the bloat of the useless features ( like automatic link listeners )

This could mean that probably we need to add the regex to the `riot-observable` and this is something I wanted always to do but I never had time to implem

[2015-08-14 08:56] cognitom commented on #2
@GianlucaGuarini page.js is in mind, too :smile_cat:
I think we can find the way, simple enough, consistent with original router and mixing the best part of page.js API.

I've created an issue on his repo. I'm not sure my English... I hope we get a good answer.

[2015-08-14 09:09] GianlucaGuarini commented on #2
@cognitom well done!

[2015-08-16 05:46] tipiirai commented on #2
How will riot-router differ from page.js?

[2015-08-16 06:09] cognitom commented on #2
I'd like to add only these functionality to our router:

- pushState (history API)
- base url option: `router.base('/foo')`
- click event override: avoid page reloading
- url match: `router('/bar/*', function(id) { ... })` (allow only wild card)

I've found that the second and third are needed for pushState.
Compared to page.js, there's no context, no plugin, no complex match (url variable), no re

[2015-08-16 13:42] kfreiman opened #4 "Make routes crawlable"
Is it posible to make hash fragment starts with `#!`?
It is necessary for Search Engine Crawlers.
https://developers.google.com/webmasters/ajax-crawling/docs/specification

[2015-08-16 13:51] cognitom commented on #4
I'm not sure because we're still discussing about it.
Personally I'd like to add `router.base()` api. Then we could set the base URL (`string` or `RegExp`)

[code]

[2015-08-16 14:50] kfreiman commented on #4
`router.base` would be great!

[2015-08-17 06:14] tipiirai commented on #2
Okay. Sounds good. I guess it's fairly easy to make 2-4x smaller implementation and stay lean. Currently page.js has [922 lines of code](https://github.com/visionmedia/page.js/blob/master/page.js).

[2015-08-17 15:56] cognitom commented on #2
Yes, we can. Let's keep it small! :smile_cat:

[2015-08-18 03:04] cognitom commented on #1
I'm waiting the answer from the author...
https://github.com/gabrielmoreira/riot-router/issues/6

Maybe summer vacation, go easy.

[2015-08-18 03:40] Mouvedia commented on #1
https://docs.npmjs.com/cli/deprecate

[2015-08-18 03:59] tipiirai commented on #2
Maybe worth taking a look at the existing [micro routers](http://microjs.com/#router) and make sure Riot router is something that doesn't already exist.

[2015-08-18 04:43] cognitom commented on #2
@tipiirai good information. I'll check these well later. Replacable-parser feature seems one of our advantage.

[2015-08-18 18:34] GianlucaGuarini opened #8 "Unable to include lib/index.js in the new riot 2.3.0 build"
I have tried including the new router in the new riot build `https://github.com/riot/riot/blob/2.3.0/lib/riot.js` but it does not pass the old router tests. Do I need to test a build script with esperanto or do we stick with smash? In case we want to use smash the router code should be wrapped in its own IIFE avoiding to pollute the global scope. What do you recommend?

[2015-08-19 00:56] cognitom commented on #8
@GianlucaGuarini I've just [update the repo](https://github.com/riot/router/commit/6a6a14378ae527a7669d50e6bff75a3265c02a7e). Now we have two `dist` files. You could import later one. How about?

- `dist/router.js` : UMD for general purpose
- `dist/riot.router.js`: Specialized for Riot.js

We need more discussion to move ES6 (esperanto), I think.

[2015-08-19 03:33] cognitom commented on #1
@Mouvedia we have no right to do that.
I'm starting thinking another name to just publish to npm.

- `riot-route`
- `riot-routing`
- `riot-way`

Is there any candidate?

[2015-08-19 04:30] cognitom commented on #8
Oops, I've fixed some issue.
https://github.com/riot/router/commit/3c2862bab3f113fa58069dd650e34e9821b9923f

[2015-08-19 04:56] cognitom commented on #8
Could you have a look at this?
https://github.com/riot/riot/pull/1151

[2015-08-19 06:13] GianlucaGuarini commented on #8
thanks I will check it asap

[2015-08-19 10:47] tipiirai commented on #1
I vote for `riot-route`. This repo needs to be renamed accordingly.

@gabrielmoreira – can you please give us your voice! Thanks.

[2015-08-19 14:30] cognitom commented on #1
OK, now we've published this repo as `riot-route`! :v:
https://www.npmjs.com/package/riot-route

@gabrielmoreira finally we decided to go with `riot-route` because it has more consistency to original Riot's naming convention and documentations. But your contribution to this repo will be always welcome. Thanks.

[2015-08-19 14:31] #1 closed

[2015-08-20 12:31] gabrielmoreira commented on #1
@cognitom, @tipiirai
Sorry... I was on vacation with family. I turned off the internet...

I could release the name if necessary. I would just ask to put a footnote to the people who were already using. I'm using riot-router in production on my project.

[2015-08-20 12:41] Mouvedia commented on #1
That's where deprecate comes into play.

[2015-08-20 12:44] cognitom commented on #1
@gabrielmoreira No prob! Thank you for contacting us.
I know, guys should turn off the internet, when we stay with family :smile:

I think you don't have to release it, but little confusable for users? @tipiirai Thoughts?

[2015-08-21 02:27] cognitom opened #9 "Coveralls doesn't work"
After repo name changed (riot-router --> riot-route), coveralls seems not working. I've already changed the source and synced it. There's something buggy. Some issues like this is reported on coveralls' repo.
https://github.com/lemurheavy/coveralls-public/issues/603

[2015-09-05 09:01] #8 closed

[2015-09-05 17:19] cognitom commented on #2
Almost done! Now it's 2,258 bytes if minified.
https://github.com/riot/route/blob/v2.3/lib/index.js
I'll add some tests and document.

[2015-09-05 23:58] GianlucaGuarini commented on #2
@cognitom awesome job!
@aMarCruz what's the status of the `riot-compiler` and `riot-tmpl`? May I help you on anything?
I think the next riot release will be really hot!

[2015-09-06 05:30] cognitom commented on #2
The documentation updated.
https://github.com/riot/route/tree/v2.3/doc

New APIs here:

- [route(filter, callback)](https://github.com/riot/route/tree/v2.3/doc#routefilter-callback)
- [route.base(base)](https://github.com/riot/route/tree/v2.3/doc#routebasebase)
- [route.create()](https://github.com/riot/route/tree/v2.3/doc#routecreate)
- [route.query()](https://github.com/riot/route/tree/v2.3/doc#

[2015-09-06 05:44] cognitom commented on #4
FYI, the final syntax:

[code]

[2015-09-06 06:09] cognitom opened #12 "Makes route.exec() callable without callback"
@tipiirai can't we change the API of `route.exec()`?

v2.2 allowed a custom callback for this function, but I'd like to make it callable without a callback.

[code]

I often use it this manner in v2.2, but it looks redundant:

[code]

And if there're multiple routings, we have no way to `exec`. Any advice or thought?
(At this time, this would be the only point which is not compatible with v2.2)

[2015-09-06 11:10] kfreiman commented on #4
Thanks!

[2015-09-06 11:10] #4 closed

[2015-09-06 14:53] cognitom commented on #9
Solved.

[2015-09-06 14:53] #9 closed

[2015-09-07 06:41] tipiirai commented on #12
I didn't even know `exec` supports a callback so totally fine for me to drop.

[2015-09-07 06:43] tipiirai commented on #4
Nice!

[2015-09-07 10:25] cognitom commented on #12
@tipiirai thanks for your feedback ;-)
I've added a deprecation warning to the docs:
https://github.com/riot/route/tree/dev/doc#routeexec

[2015-09-07 10:25] #12 closed

[2015-09-12 11:14] GianlucaGuarini opened #15 "Add standalone route release"
Currently the `dist` folder contains `route.js` that is meant to be used in nodejs but actually there is no way to use a standalone release that could be directly included in a browser environment without riot or an additional build step.  Probably the package.json should point to the `lib/index.js` file and the `dist/route.js` should contain a build release including `riot-observable` as well.

[2015-09-12 11:24] cognitom commented on #15
Let me see...

- AMD: it's ok
- global: need to load `riot-observable` before `riot-route`
- browserify / webpack: we can use `lib/index.js`

So, it seems that we don't have to provide it as UMD. My proposal would be...

- AMD package without `riot-observable`
- Stand alone package with `riot-observable` (use global)
- Naked `lib/index.js`

How about?

[2015-09-12 11:35] GianlucaGuarini commented on #15
Yes it looks better to me. Otherwise anyone wants to use this module without riot needs to build it first

[2015-09-13 04:48] cognitom commented on #15
@GianlucaGuarini ok, done!
Could you have a look at #16?

[2015-09-13 15:02] GianlucaGuarini commented on #15
it got fixed, I have also fixed other small issues enabling the `use strict` mode

[2015-09-13 15:02] #15 closed

[2015-09-13 15:52] cognitom commented on #15
Thanks for your fix ;)

[2015-09-18 20:12] gdub22 opened #17 "Default base path"
I've found this doesn't work out of the box without setting `riot.route.base('/')`
Since this now uses `history.pushState` shouldn't the default base be `'/'` instead of `'#'`?

[2015-09-18 23:20] gdub22 opened #18 "Partial server-side support"
We should simply allow something like the `exec` method to work server-side. This way, you can pass it the request path and let your route handlers do any rendering they normally would do on the client side.

I can work on a PR if you agree with the idea.

[2015-09-19 11:08] cognitom commented on #17
Hi @gdub22, the default base is set to '#' because the compatibility to 2.2 or less.

The test has passed so I think it's OK. Are you pointing other things?
https://github.com/riot/route/blob/master/test/specs/core.specs.js#L25

[2015-09-19 11:09] cognitom commented on #18
Sounds great! PR is welcome. Thanks :-)

[2015-09-19 15:10] gdub22 commented on #17
Ok, makes sense for compatibility.  It's not a bug, just a convenience for those who don't want to use hash urls.

[2015-09-19 15:10] #17 closed

[2015-09-21 16:33] gdub22 commented on #18
https://github.com/riot/route/pull/19

[2015-09-21 21:58] gdub22 opened #20 "Wildcard filter does not match paths containing a dash"
[code]
Failing test: https://github.com/gdub22/route/commit/0a1c43664460a6e304680d06e5ecd11fbd3a94d3

[2015-09-24 15:34] cognitom commented on #20
Currently wildcards just match `\w`.
https://github.com/riot/route/tree/master/doc#routefilter-callback

Sometimes I'd like to use it like this:

[code]

Actually, at the first I tried to implement wildcard as `[^\/]+`, but I realised that it would not match this case:

[code]

[2015-09-24 15:36] cognitom commented on #20
@gdub22 you could change the default behaviour:
https://github.com/riot/route/tree/master/doc#second-parser

[2015-09-27 18:47] gdub22 commented on #20
Thanks, I can customize the parser.  I think letting the whole wildcard through may be a better default.

[2015-09-27 22:28] cognitom commented on #20
@gdub22 another option could be `.+?`. Is this better?

[2015-10-13 16:57] a-moses commented on #2
any  example update  to the new riot-observable ?

[2015-10-20 17:05] gdub22 commented on #20
@cognitom thanks! `.+?` worked for me.

The api to override that was a bit awkward, since I had to essentially duplicate the whole default second parser.  Many people aren't good at RegExp, that's why I suggest letting the whole path through, then they can use more comfortable parsing like String.split, etc. and power users can continue to use RegExp if they want.

[2015-11-01 06:22] cognitom commented on #20
@gdub22 I've change the behaviour. `\w+` --> `[^/?#]+?`
https://github.com/riot/route/commit/4a0a9f2c026ff4ae3cc4e02b209babb78221291c

After some thoughts, I realised that `.+?` is not enough. Because sometimes

[code]

[2015-11-01 06:31] cognitom commented on #20
Hi @gdub22, I've change the behaviour. `\w+` --> `[^/?#]+?`
https://github.com/riot/route/commit/4a0a9f2c026ff4ae3cc4e02b209babb78221291c

After some thoughts, I realised that `.+?` isn't enough. With `.+?`, the later example below will match to `fruit/apple?some_query` but it's not intuitive. So `[^/?#]+?`.

[code]

[2015-11-06 23:16] txchen opened #22 "Is change routing in routing callback supported?"
Hi, my scenario is like this:

* When there is no path in the url, I want to change the url to some default path

My code is now like this (v2.3):
[code]

If I start with empty path url, it will bring me to `/#news/1`, which is correct. However after changing the url, the studyRoute is not called again, thus my actual logic is not executed.

I am not sure if it is due to I am not writing the corre

[2015-11-06 23:20] txchen commented on #22
I am also curious, if I want to achieve my goal, how should I change the code? Thanks!

[2015-11-07 02:16] cognitom commented on #22
Hi @txchen, good question!
v2.3 has introduced [filter](http://riotjs.com/api/route/#riot-route-filter-callback). So now we can write down like this:

[code]

If you use this in the tag, it would be better to use [sub-router](http://riotjs.com/api/route/#riot-route-create):

[code]

See more [why we use sub-router](http://riotjs.com/api/route/#routing-priority), FYI.

[2015-11-07 03:36] txchen commented on #22
@cognitom Thanks! But I am afraid this is not what I want.
My requirement is: is no path, then change the path to some default value. (/#news/1 for example)
Your code seems not changing the route. Or I missed some points?

[2015-11-07 03:38] txchen commented on #22
FYI, actually I am trying to change my code to use riot 2.3, the existing one is: https://github.com/txchen/riot-hn/blob/gh-pages/src/app.html

It is now working well with 2.2.4. Now I want to make it using latest riot and router :)

[2015-11-07 03:41] cognitom commented on #22
I see, you mean redirecting to another path.
You could use `riot.route('news/1')`, I think. Doesn't work fine?

[2015-11-07 03:47] txchen commented on #22
Yes, it changes the url. However, the callback function is not executed after url is changed, thus, the actual mounting logic does not happen.
That's why I asked: is changing route supported inside routing callback logic?

[2015-11-07 03:49] cognitom commented on #22
Yeah, should be. I'll check it soon, after lunch. Wait a few hours.

[2015-11-07 03:57] txchen commented on #22
Thanks a lot! @cognitom

I think you can take a look at https://github.com/txchen/riot-hn/blob/gh-pages/src/app.html
I'd like to make it continue to work in 2.3

[2015-11-07 06:32] cognitom commented on #22
@txchen I'm still working on it. It seems the behaviour of `history.pushState`. I'll look into more deeply.

[2015-11-07 11:21] cognitom commented on #22
Done! I've found the reason, finally.
`observable` doesn't allow `trigger()` on the same callback. To avoid this, I've added the stack in [emit function](https://github.com/riot/route/pull/23/files#diff-6d186b954a58d5bb740f73d84fe39073L81). But a bit awkward.
Could you have a look at this? #23 @txchen @GianlucaGuarini
Thanks.

[2015-11-07 16:14] txchen commented on #22
Yeah, a little bit awkward :)
I realized that I can workaround my issue by explicitly call my actual functional logic:
[code]

Not sure if this worth a fix to increase lib size, maybe my usage is not that common. You guys can decide.

[2015-11-07 16:43] #22 closed

[2015-11-08 00:49] cognitom commented on #22
Ok, merged to master.
You could remove that line, after v2.3.1 ;-)

Thank you for your continuous contribution!

[2015-11-08 02:28] #20 closed

[2015-11-10 14:00] zcei commented on #2
Just wanted to mention, that switching over to HTML5 PushState worked like a charm for us, once `2.3(.1)` was released!

Only minor adjustments, and now the URLs are really slick. Thanks for the good work :+1:

[2015-11-10 14:17] yannickoo commented on #2
:heart:

[2015-11-12 09:41] EyLuismi opened #25 "Only route registered routes"
Note: Using Riot 2.3.1
So I was rewriting my webapp which used:
http://example.com#media/id

In the new version the base by default is '#' but it affects every link in the webpage, using or not using '#' so I couldn't click any links because it didn't do anything at all. I really needed to get it working so I finally changed the base to '/' and then the url in the adressbar started to change as I

[2015-11-12 12:22] shamotj commented on #25
We have exactly the same problem, we stuck on this just couple minutes after you post this issue. Desired outcome for us is that router will hande only routes which passes filter (or are registered by router).

[2015-11-12 13:10] cognitom commented on #25
Oh, that's a bug. We got to fix it.
A temporal work-around is using absolute path:

- `some/path/` --> `http://example.com/#some/path/`

[2015-11-14 06:00] cognitom commented on #25
Hi @Ldiab @shamotj
I'm working on this issue today. It's not so simpler than what I thought first. Possible strategies here:

- A. if not match base
- B. if not match routes and has no default route
- C. if not match routes and all default routes returns `false`
- D. if all routes returns `false`

As my understanding `riot.observable` is design to not return the value to the event emitter, so C /

[2015-11-14 07:38] Ldiab commented on #25
Hi, I think B would be the best option, If a route dont satisfy any registered filter it should be ignored by the Route and the browse should take the default option (If I have understand it). So an app who only uses Riot routes if he wants to show  a 404 whenever the user enter in a invalid url, he just needs to use '/..', and in server based urls, the server will handle the 404.

Returning false

[2015-11-14 07:57] cognitom commented on #25
@Ldiab thanks for your quick feedback. If we use `/..` as a filter, all url will be caught. It seems not an expected behaviour, doesn't it?

Think this situation:
[code]

- `http://example.com/` --> no router will fire
- `http://example.com/other/` --> no router will fire
- `http://example.com/app/` --> "home" route will fire
- `http://example.com/app/news/1` --> "news" route will fire
- `http://e

[2015-11-14 08:28] Ldiab commented on #25
Mmmm yes, because you have explicitly registered every route to trough that if you haven't registered it before, so to solve this the user has two options, manage every url in the webapp with this route, non on the server, or not to register '/..' and handle all other request on the server.

Alternatively maybe could be added a parameter like a callback to go to the next filter, and if there isn't

[2015-11-14 10:13] cognitom commented on #25
Yeah, sounds good. But I have some concern...
- `next()` fits in async, but `riot.route` doesn't support it. (at least at this point)
- one route could have multiple callbacks. The order of evaluation would be too complex.

How about just returning `false` or `true` from callbacks? The basic concept is almost same, but it doesn't mean that it pass the process to *next*. More like *rejecting*, and

[2015-11-15 10:53] shimaore commented on #25
Just to point out that Express' use of `next` is restricted to applying middleware *after* a unique route has been chosen. In Express the first route that matches is the only one that gets used. Once the route is selected, then middleware application starts, and that's where `next` comes into play. (You can't switch to a different route's callback by using `next`, in other words. You can only skip

[2015-11-15 11:00] cognitom commented on #25
@shimaore thanks a lot for your clarification! I have a bit confused about Express. (I'm totally front-end guy in JavaScript...)
I like your idea `this.pass()`. I'll update the PR #26 tonight ;-)

[2015-11-16 02:08] Ldiab commented on #25
@shimaore Hi, Yes, It is used by middleware, but, ExpressJs, has as a Coding Standard (Or something like that, sorry my english level isn't high enough) to use Next in every route you register, as they say:

So you can do something like this:
Register in this order:
'/', '/admin', '/admin/destroyAllData', '/admin/giveAllMoneyToDogsONG'

And then you in '/admin' take control over the user perms:
`i

[2015-11-16 02:54] shimaore commented on #25
@Ldiab I stand corrected, I missed the introduction of `next('route')` in Express 4.0, which does what we're trying to do here (i.e. in Express skip the remainder of the middleware stack and process the next route). Your example should read

    if (user.isAdmin){next('route')}else{sendToJail()}

to use that feature. (In previous versions one would have used that middleware in the stack for `/admi

[2015-11-16 03:02] Ldiab commented on #25
@shimaore No, by adding 'route' you are doing the opposite:

Executing `next()` will get to the next route. I use it all the time. Thats why I found it so interesting to insert it here or a similar.

[2015-11-16 03:13] Ldiab commented on #25
But I think we are messing here, there is two things in this Github issue, so I think It should be splitted:
* Not registered urls should not preventDefault()
* Hit more than one registered url (Which is my suggestion)
  * A list in the context with the registered urls that will be hit if you keep doing next() or whatever

So here would be only the first item. Any thoughts?

[2015-11-16 04:01] cognitom commented on #25
Yeah, at this time, I'd like to merge #26 without `next()`, once. And keep this issue open.

[2015-11-16 12:48] shimaore commented on #25
Alright, apparently I've been spending too much time in middleware and didn't really understand how Express behaves wrt the last callback in a route stack.
[I tested this](https://gist.github.com/shimaore/7959885429c4ecc5de92) and things inside the *last callback of the route stack* (which is the only one most people use, and the only case `riot` really cares about today) behave as described by @L

[2015-11-18 10:47] Sendoushi opened #27 "What would you change...?"
Hi guys,

New to riot and redux and trying to follow better practices and patterns.
So, I've done this example:
https://github.com/Sendoushi/code-examples/blob/redux-riot/src/bootstrap.js

How would you improve?
I know this isn't an issue, a help wanted.

[2015-11-18 13:42] TimWillis opened #28 "riot.route not working in ie for 2.3.1"
I have this setup for riot routing -

var router = function(page,id) {
function change_page(current_page){
RiotControl.trigger('page_changed', current_page, xmenu.last_page)
xmenu.last_page = current_page;
}
page = !page ? 'home' : page;
change_page(page);
}
// Riot router
riot.route(router)
// Execute router function once for rendering the items
riot.route.exec(router);

when I click a link with

[2015-11-20 02:32] cognitom commented on #28
@TimWillis it looks a bug. I'm fixing another issue on the example below maybe related.
https://github.com/riot/examples/tree/gh-pages/router-page-switcher
Wait a little. Thanks.

[2015-11-23 03:23] Ldiab commented on #25
Hi, I think the fix isn't working... I still get the url changed but nothing happens and I have only one url registered like this:
[code]
Its the compiled version of my coffeescript, am I doing something wrong? Thanks!

[2015-11-26 08:19] Pysta commented on #25
Fix works for me, here's a snippet from my code, maybe it'll help:
[code]

[2015-11-26 17:07] shimaore opened #29 "should decode URI"
The router should call `decodeURIComponent` on parameters before providing them to the callbacks, so that the callbacks receive the intended values rather than the URI-encoded values.

[2015-11-26 17:16] shimaore commented on #29
Rational: Typically if I do

    <a href="#/do/{value1}">...</a>

then Riot will properly URI-encode the value (spaces, etc.). Conversely, one would expect that when doing

    riot.route( '#/do/*', function(value2) { ... } )

the outcome of selecting the link is `value1 === value2`.

[2015-11-26 22:53] cognitom commented on #29
@shimaore yeah, should be. Could you send a PR?

[2015-11-27 00:01] duongphuhiep opened #30 "regression Bug of the router API?"
https://github.com/riot/riot/issues/1385

[code]

I expect that my callback is called on every change of the url (as in the version 2.3.4)

But it is not true in case the route is changed from `index.html#blog`  to `index.html#`
The callback in the `route.parser` is invoked with empty path, and the `riot.route` callback is not called

PS: I don't know how to generate route problem with plunker

[2015-11-27 00:18] cognitom commented on #30
@duongphuhiep does it help you?
http://riotjs.com/examples/plunker/?app=router-page-switcher

[2015-11-27 01:02] duongphuhiep commented on #30
thanks, here the problem

http://plnkr.co/edit/6nGkr5wDYZ5gKX3pMdA4?p=preview

[2015-11-27 05:37] cognitom commented on #30
@duongphuhiep thanks.

This line causes the issue. From v2.3.11, if the parser returns falsy value, the execution will skipped. This was introduced for fixing #25
https://github.com/riot/route/blob/v2.3.11/lib/index.js#L183

I think we could change it to this:
[code]

It may fix your issue. I'll make a PR and test later.

FYI, a temporary fix could be like this on your Plunker:
[code]

[2015-11-28 16:55] cloudship opened #31 "click back button on browser doesn't go back to the last state?"
Hi guys, with the riot-router, when I click the back button on the browser, the page address did change back to the previous one but the page was not reloaded. Is this a bug or designed like this? if expected, how should I make the content also change back? Regards!

[2015-11-28 17:06] cloudship commented on #31
to be more exact, I'm asking why the [[riot.route 'filter', callback]] fails to detect the URI when it was changed back?

[2015-11-29 02:28] cloudship commented on #31
oh, I found out that the router was not started. Problem solved when I manually started it.

But even when it was not started, [[riot.route TO, title]] can still work...

[2015-11-29 02:28] #31 closed

[2015-11-29 03:15] cognitom commented on #31
:smile:
@cloudship `riot.route.start()` just starts to listen the events. So basically, the methods work without `riot.route.start()`.

[2015-11-29 16:26] nippur72 commented on #28
I'm stuck on the same issue :cry:

[2015-11-29 17:10] jpikl commented on #28
I can confirm this issue on IE 11 and Edge. The cause seems to be the 'popstate' event (used for URL change detection) which is not correctly implemented in IE/Edge (see https://connect.microsoft.com/IE/Feedback/Details/1528993).

I'm currently using the following workaround:

    window.addEventListener('hashchange', function() {
        riot.route.exec();
    });

[2015-12-04 00:29] duongphuhiep opened #32 "Not work in IE 11"
http://plnkr.co/edit/YZpDmc?p=preview

This router works in Chrome, but not work in Internet Explorer 11

[2015-12-05 17:00] chmanie opened #33 "Browser-inconsistencies in router.start() and router.exec()"
When calling `riot.route.start()` in Safari it gets auto-executed immediately. When I pass `true` to this function my handler for the route is executed twice. This is only the case for Safari and not for FF or Chrome.

See this plunker:

http://plnkr.co/edit/uzjtYKZ9Rc5qb2T0XGaY?p=preview

Open it in Chrome and see the console:

[code]

Safari:

[code]

[2015-12-06 19:51] GianlucaGuarini commented on #33
@cognitom Any chance to fix this bug for the next riot release? Should I fix it?  Let me know if you need any help

[2015-12-06 23:13] duongphuhiep commented on #32
a duplicate of https://github.com/riot/route/issues/28, so I will close this one

[2015-12-06 23:13] #32 closed

[2015-12-06 23:17] duongphuhiep commented on #28
I'm stuck too!  the router works in Chrome + Firefox but NOT work in IE 11 and IE Edge
Here the plnkr samples (using the latest 2.3.11),

http://plnkr.co/edit/YZpDmc?p=preview

[2015-12-08 21:15] #33 closed

[2015-12-08 22:59] GianlucaGuarini commented on #28
I am working on this issue...soon I will make a pull request

[2015-12-11 14:48] senica commented on #25
Would something like angular does be unacceptable in terms of clicking on links? Any link that specifies a `target` attribute is not handled by the history API (i.e. `<a href="/test" target="_self" />`).  I think I'll add this exception for my own project as I only have two hard links in my app — login and logout.

[2015-12-11 16:45] cognitom commented on #33
@GianlucaGuarini thanks a lot!

[2015-12-13 12:31] #28 closed

[2015-12-13 12:59] #30 closed

[2015-12-13 13:54] cognitom opened #39 "Roadmap"
Now it's time to think about the next :-)
- [x] server-side support #18
- [x] replaceState #47
- [x] prepare to make it optional for Riot.js 2.4
- [ ] rewrite into ES6

Other candidates:
- `next()`? #25
- route deconstructor #36
- decode URI #29

Note: #36 would be nice, but I'd like to keep it small, too. #29 breaks specs.

[2015-12-13 13:55] cognitom commented on #2
Next roadmap is here #39

[2015-12-13 13:55] #2 closed

[2015-12-13 14:06] GianlucaGuarini commented on #39
For the `next` I see the router a good candidate for the es2015 generators

[2015-12-15 20:45] kazzkiq opened #40 "Add Middleware to Routes"
It would be interesting to have the option of middlewares on routes, executing before they get properly handled. E.g.

[code]

The idea is that middleware would always return a boolean. `true` firing the route callback, `false` preventing it from being handled.

There is also the `.next()` approach, discussed on Issue #25. Maybe we could define which approach would be the more interesting.

[2015-12-15 21:49] Ldiab commented on #40
As I come from Node/Express, I see the next() approach more natural, because you are really processing some data and then controlling the flow because of the results. For middleware I see is the best options, because you just need to insert at the top, and then after them you insert your routes. With your approach I just see it as a Flag, which yeah, it makes sense, but you are losing the posibili

[2015-12-15 22:54] kazzkiq commented on #40
Just took a look at Express middleware documentation and the `next()` approach seems more logical.

So just to get things straight, using this approach I'm only obligated to use `next()` when adding middlewares, otherwise I could simply omit its parameter from the callback and let it fire automatically? e.g.

[code]

[2015-12-16 00:41] syropian opened #41 "Mapping routes to tags"
Does anyone have a best practice or nice way to show/hide tags on a per-route basis? Ideally it would be mounting/unmounting the tag from the DOM entirely over simply showing/hiding, but I'm interested to see what others are doing.

[2015-12-16 00:53] Ldiab commented on #40
Mmmm I don't understand the user login case, I mean, with this approach you just need to do something like this:
[code]
The only thing I would ask is for something to check if the user is actually hitting the path is being routed, some this.isTargetPath or something like this. so you could do something like this:
[code]

I think this is the most powerful way to manage routes... What do you think?

[2015-12-27 02:44] cognitom commented on #18
Now @gdub22 's works have been merged with #43 and #45 on riot-route#2.3.13! Thank you so much.

[2015-12-27 02:44] #18 closed

[2015-12-27 02:58] cognitom commented on #41
@syropian this was my try, and I have a plan to rebuild this on the `riot-route`.
https://github.com/cognitom/ikki#html-router

I'm guessing that it'll be practical when the `if` implementation of Riot is fixed.

[2015-12-27 21:12] Infeligo commented on #41
Here is [my gist](https://gist.github.com/Infeligo/b1edc269ab3d8ce5e412) with a simplistic show/hide, where route is mapped onto element by ID.

[2015-12-28 04:58] rstacruz opened #46 "Isomorphic examples"
I see that the docs mention riot-route is capable of isomorphic operation.

Is it possible to run two routers at once?

[2015-12-28 12:31] GianlucaGuarini commented on #46
It is possible to run two routers at same time https://github.com/riot/route/tree/master/doc#routecreate, and in the next release our router will work on the server as well https://github.com/riot/route/pull/45

[2015-12-29 13:29] Infeligo opened #47 "Should be able to replace current route without history entry"
[History API](https://developer.mozilla.org/en-US/docs/Web/API/History_API) provides two methods for updating state: `pushState` and `replaceState`. The latter is used when there is no intention to create a new history entry. There are realistic use cases for this. Other frameworks that have routing provide such method (e.g. [Backbone](http://backbonejs.org/#Router-navigate) and [Mithril](http://l

[2016-01-01 13:39] rstacruz commented on #46
Ah, nice, I saw that route.create documentation and assumed it was only for when using it with `riot`. I'm using riot-route with another stack.

Can I do this?

[code]

How can I promote `router` as the main router?

[2016-01-01 13:49] rstacruz commented on #46
...ahh, I see, all routers will be active and will listen to the document's events. would be cool to be able to make a decoupled router like so:

[code]

[2016-01-01 19:46] GianlucaGuarini commented on #46
@rstacruz In theory you can use only subrouters to achieve this [more info](http://riotjs.com/api/route/#subroute-stop):
[code]

[2016-01-06 20:45] tscok commented on #25
@Ldiab @cognitom I posted about a similar issue in the Riot Forum today but maybe I should have filed an issue about it here instead. Well, since this one is still open I thought I could share my experience (and solution).

What I experienced was that links with relative paths like `/some/folder/file.jpg` triggered the Router if I was standing on a route like `#profile`, but not if I was standing

[2016-01-06 20:59] tscok opened #48 "Riot routing and links within a page"
If the route base is `#` how do I link to a specific spot within a page? Normally you'd do something like `some-page/#target` but that would trigger the Router. Any help here would be appreciated! :)

[2016-01-08 20:58] GianlucaGuarini commented on #39
@cognitom can you make a new `riot-route` release please? I would like to roll out a new riot release this weekend

[2016-01-09 01:08] cognitom commented on #39
@GianlucaGuarini Sure ;-)

[2016-01-09 07:01] cognitom commented on #29
I'm implementing this feature on `dev` branch:

[code]

Usage:

[code]

But, I couldn't make a test for it, because PhantomJS (1.9) doesn't support `history.back()`...
Is there any good idea?

[2016-01-09 07:03] cognitom commented on #47
I'm implementing this feature on `dev` branch:

[code]

Usage:

[code]

But, I couldn't make a test for it, because PhantomJS (1.9) doesn't support `history.back()`...
Is there any good idea?

[2016-01-10 15:42] cognitom commented on #47
@GianlucaGuarini any idea about testing this? I've been trying to move to PhantomJS 2.0, but there're other difficulties...
[Protractor](https://angular.github.io/protractor/) could be another option?

[2016-01-10 15:47] GianlucaGuarini commented on #47
@cognitom you can run the tests using our browserstack account

[2016-01-10 15:50] cognitom commented on #47
Oh, thanks. I've almost forgot about that. I'll have a try ;)

[2016-01-10 16:30] cognitom commented on #29
I've been working on this. But I've found that it'll break this spec...
https://github.com/riot/route/blob/master/test/specs/core.specs.js#L95

It looks safer to keep as is, doesn't it?

[2016-01-10 16:34] cognitom commented on #29
Note: to support this, change [this line](https://github.com/riot/route/blob/v2.3.13/lib/index.js#L123):

[code]

[2016-01-10 16:55] cognitom commented on #39
The next todo is rewriting the library into ES6.
https://www.npmjs.com/package/riot-route
- v2.3.13: server-side support (Dec 27)
- v2.3.14: replaceState (Jan 10)

[2016-01-10 17:31] GianlucaGuarini commented on #39
A rewrite in es6 will bloat the library adding all the babel helper functions. I am skeptical about this

[2016-01-10 20:00] GianlucaGuarini commented on #39
@cognitom could you update the doc as well please?

[2016-01-11 00:09] cognitom commented on #39
@GianlucaGuarini ok added. https://github.com/riot/route/commit/28e6a0c7662273b418b33a2d7b8b90e6cdc6502f

Yeah, we got to compare the size of output by babel.

[2016-01-14 03:13] cognitom commented on #47
@Infeligo we can use this feature from `riot-route@2.3.15` or `riot@2.3.13` :-)

[2016-01-14 03:13] #47 closed

[2016-01-14 03:25] cognitom commented on #41
Recently I've started making [another helper library](https://github.com/cognitom/riot-action). With this, mapping [could be easier](https://github.com/cognitom/riot-action/blob/master/demo/src/main.js) :-)

[code]

[2016-01-18 14:46] avimar commented on #41
I did it like so: https://gist.github.com/avimar/2020226327810f2e49b4

[2016-01-21 18:15] ifraixedes opened #50 "route & route.base functions allow regex"
I'm starting to create an app for one client using Riot and one of the use cases is that the base route can change due localization, so I tried to use a regular expression in `riot.route.base` method and it worked as a charm even though the docs don't mention it.

I've been inspecting the code to see if that's expected or not, because I wanted to make sure that it won't stop to work in path/minor

[2016-01-22 22:05] ifraixedes commented on #50
I was wrong yesterday when I said that everything worked as charm.

Working more on that app, I don't get the result that I expect and I would like to know if I misunderstand something or it may be a bug.

My examples is the next:

My base route of the can be `http://localhost/shop/es` or `http://localhost/shop/ca`; on any case it serves the same riot application without any change.

I set the bas

[2016-01-24 21:51] wiz opened #51 "subRoute.stop() doesn't work (stop is undefined)"
I need to load and unload sub-components dynamically and they have inner routes themselves.
I wanted to stop subRoute when component is unmounting, so the handlers wouldn't accumulate.

The code from router API doesn't work. I've tried in in playground and the error is same.
[code]

[2016-01-25 07:57] wiz commented on #51
Patch for a missing test:

[code]

[2016-02-04 13:13] chmanie commented on #51
Is there a workaround? This is a very important feature!

[2016-02-04 13:31] wiz commented on #51
I've used `riot.route.stop.bind(subRoute)` to some success.

[2016-02-04 14:25] chmanie commented on #51
:+1:

Preparing a PR.

[2016-02-09 23:51] didierfranc opened #53 "Routing without hash !"
Hi guys (@cognitom @GianlucaGuarini ), is it possible to have routes without hash ?

I tried this :

[code]

It's working for `/first` but it can't get the second one in `/first/second` and I get this error :

![capture d ecran 2016-02-10 a 00 47 04](https://cloud.githubusercontent.com/assets/14132464/12934568/d308bb68-cf8f-11e5-89cb-30de5be63a5e.jpg)

I get the same error with just adding trailin

[2016-02-10 18:21] didierfranc commented on #53
Am I the only one thinking riot router is partially broken ?

[2016-02-11 05:32] cognitom commented on #53
@didierfranc you're right. We should fix this. Thanks for reporting.

[2016-02-12 09:50] wiz commented on #51
I'm conceding now that subrouting is FUBAR :weary:

Perhaps apps should stick to central routing and trigger custom signals to achieve multi-dispatch behaviour.

[2016-03-08 20:05] #51 closed

[2016-03-11 22:39] gdub22 opened #54 "Version bump / dev branch"
Could `riot/route` get a patch version bump and be updated in the next riot release?
There are a couple bug fixes that would be nice to include along with riot.
Also, the dev branch needs to be merged into master.

[2016-03-12 12:09] GianlucaGuarini commented on #54
@gdub22 of course @cognitom will you have time for this task? Otherwise I will try to do it asap, the next riot release will definitely contain the new route

[2016-03-16 03:52] cognitom commented on #54
@GianlucaGuarini sorry, I'm a bit busy during this month...
Could you do that this time? It helps me so much. Thanks.

[2016-03-16 07:11] GianlucaGuarini commented on #54
no prob @cognitom ;)

[2016-03-20 23:11] GianlucaGuarini opened #55 "Dev branch tests failing"
I wanted to make a new riot-route release but it seems that the tests keep failing in the `dev` branch. @cognitom any clue about what's the issue? The `master` branch does not have any problem

[2016-03-21 15:18] gdub22 commented on #55
@GianlucaGuarini see #56

[2016-03-22 07:18] GianlucaGuarini commented on #55
fixed now and a new `riot-route` release has been published. Thank you @gdub22

[2016-03-22 07:18] #55 closed

[2016-03-22 12:19] #54 closed

[2016-04-16 18:31] lukeed opened #58 "Route match action should receive parsed segments"
There's very little point in having a route matcher that does not (1) regard the values obtained by `riot.parser.fn1` and (2) inconsistently produces callback function parameters.

Eg:

[code]

Not only is there a `name` parameter JUST for wildcard matching, but this setup requires `fruit` as the bare minimum abstraction.

Expectedly, all route callbacks should plug into the values obtained by `pa

[2016-06-11 08:35] GianlucaGuarini opened #61 "Router not matching wildcard as expected"
see https://github.com/riot/riot/issues/1820

[2016-06-30 09:58] karlpatrickespiritu opened #62 "href="{ window.history.back() }" on Riot Tag anchor element"
Every time the tag is mounted, the page automatically redirects back to the last url when using the back functionality in js.

[code]

[2016-06-30 10:09] karlpatrickespiritu commented on #62
gives me this header when mounting.

![untitled](https://cloud.githubusercontent.com/assets/10472504/16484775/a81732e0-3eed-11e6-8060-b1db85d5d3ec.png)

[2016-06-30 13:56] cognitom commented on #62
`history.back()` returns nothing.
https://developer.mozilla.org/en-US/docs/Web/API/History

I guess you may want to do that like this?

[code]

[2016-07-14 14:56] gdub22 opened #63 "Routing priority broken"
Previously, when a match is found, no other routes are triggered. Now multiple routes are firing.

I noticed this updating from riot 2.3.18 -> 2.5.0.
It appears to be caused by changes in riot observable, because it works correctly if I roll that back. Nothing in this route repo has changed in a while.

---

Example:
[code]

Given the url: `/post/title-of-my-post`
The expected result is for the se

[2016-07-17 22:13] pavel opened #64 "Issue with relative links"
### Description

Relative links work only on second click, if the `location.hash` is set.

### To reproduce

1. Open a demo: http://output.jsbin.com/jafikuquwe#test/11.
2. Click on "Google.com" link (first click, sends you straight to the `www.google.com`)
3. Go back to the demo.
4. Click on "Test.html" (first click does no visual effect, location.hash changes)
5. Click on "Test.html" again. (now

[2016-07-18 22:04] GianlucaGuarini commented on #63
@cognitom could you please have a look?

[2016-07-24 19:59] GianlucaGuarini commented on #64
@cognitom could you please check this issue?

[2016-07-24 20:06] GianlucaGuarini commented on #63
Ah I guess it's the events namespacing the problem. I think we need either to remove the namespaced events or simply normalize them inside the router

[2016-07-24 21:42] #63 closed

[2016-07-25 19:11] GianlucaGuarini opened #65 "Phantomjs tests are broken again :s"
I have tried to update the dependencies and I was not able to run the tests in the `dev` branch. @cognitom could you help on this please?

[2016-07-29 08:20] cognitom commented on #65
`karma-electron` looks good for this purpose instead of phantomjs.
Personally I'm changing phantomjs to nightmare (electron), too.

[2016-07-29 08:56] cognitom commented on #63
@GianlucaGuarini thanks!
Ah, "name spaced" and "namespacing", finally understood what happened 😲

[2016-07-29 11:25] GianlucaGuarini commented on #63
@cognitom oups my typo 😄

[2016-07-29 12:44] #65 closed

[2016-07-30 07:54] cognitom commented on #64
@pavel thank you for your reporting. It will be fixed on next release 😄

[2016-07-30 07:54] #64 closed

[2016-07-31 03:20] pavel commented on #64
@cognitom You're welcome. Keep up the good work!

[2016-07-31 06:44] avimar opened #67 "Open in new window/tab?"
I'm used to link with a CTRL+click opening in a new tab/window. Is there a way to do that with the `riot.route`?
Or replace my `riot.route` with a `href` that the router picks up?

Thanks!

[2016-08-01 01:09] cognitom commented on #67
Hi @avimar, `riot-route` doesn't intercept `click` events if `ctrl` key is pushed.
https://github.com/riot/route/blob/v2.4.0/lib/index.js#L141

So it should work as normal.

[2016-08-05 02:23] cognitom opened #68 "Introduces WebdriverIO"
For testing this library, I'd like to introduce [WebdriverIO](http://webdriver.io/). We're using Karma now, but even if it's a simple unit test, it can't handle page transition. It makes the tests difficult, especially for the libraries like `riot-route`.

I've done the most part of [the research](https://github.com/cognitom/webdriverio-examples/tree/master/wdio-wo-local-selenium). But some points

[2016-08-20 15:49] GianlucaGuarini commented on #68
@cognitom could you make a pull request? I would like to see how it behaves. Have you also checked http://nightwatchjs.org/?

[2016-08-21 01:20] cognitom commented on #68
Sure! Maybe next weekend..

I tried some frameworks:

- Nightwatch
- WebdriverIO
- Codecept
- Nightmare
- Chimp

Nightwatch was actually my first option. These all has pros and cons. I like these features of WebdriverIO:

- not tightly coupled with assertion libraries
- all methods are sync with wdio (they use [fibers](https://github.com/laverdet/node-fibers) to convert async to sync)

[2016-08-24 12:40] artstar commented on #63
So good feature was removed:(
Is there any plans to add event namespacing back?

[2016-08-24 20:18] GianlucaGuarini commented on #63
@artstar no we are removing the fat from riot and events namespacing was causing performance issues and other several issues in the router. If you want to use this feature i guess you can do it with probably 10 lines of code in a mixin. Let me know if you need help

[2016-09-20 15:24] moritzschepp opened #70 "Routing bug after `riot.route('some/path')`"
I discovered strange behavior that I believe can't be right. I'm seeing this on
- windows 7
- IE 11.0.9600.18449
- riotjs 2.6.2
- riot-route 2.5.0

Have a look at the plunkr here and click the links one after the other:
https://plnkr.co/edit/bGUkr1sueLDtcFrxd9sj

The problem is that the last click actually does change the url but no events are triggered (hashchange, popstate), also the riot handle

[2016-10-24 05:20] zaun opened #71 "Is there a CDN release of this"
I'm playing around with the 3.0 version of Riot and the router has been removed. I'm wondering if there is a release of the stand alone router on a CDN someplace?

I've checked a few including cdn.jsdelivr.net (where I'm grabbing the 3.0 riot from) but I cant seem to locate the router code.

I'm using `https://cdn.rawgit.com/riot/route/master/dist/route.js` for now, but a released version on CDN w

[2016-10-24 05:46] cognitom commented on #71
@zaun no, at this point. But that's a good point! We should provide a CDN version. Will do, asap 😉

[2016-11-15 06:36] sota1235 commented on #70
I have a same bug, but I have no idea... 😭

[2016-11-15 06:39] cognitom commented on #70
Oh, sorry.
Will check this issue again, asap.

[2016-11-21 06:09] cognitom commented on #71
@zaun sorry to be late. At last I've send the PR to jsdelivr. I hope they'll merge it soon 😄
https://github.com/jsdelivr/jsdelivr/pull/14883

[2016-11-21 06:09] #71 closed

[2016-11-21 06:16] cognitom commented on #71
Successfully merged. I'm waiting their bot crawl our library.
https://github.com/jsdelivr/jsdelivr/tree/master/files/riot-route

[2016-11-21 16:22] cognitom commented on #71
Done.
https://www.jsdelivr.com/?query=riot-route

[2016-11-28 13:47] Qlio opened #74 "Router with query param not working."
I have route: `/login?path=*`

But when I go to url: `http://localhost:8000/login?path=test`, and of my routes handling this one.

[2016-11-29 14:20] cognitom commented on #74
@Qlio thanks for reporting. I've found a bug on this line.
https://github.com/riot/route/blob/v3.0.0/lib/index.js#L55

`?` should be escaped to `\?`.

[2016-11-29 16:23] cognitom opened #75 "Page title doesn't change after anchor with internal link clicked"
OK:

[code]

NG:

[code]

[2016-11-29 16:34] #74 closed

[2016-11-30 21:49] weberan opened #76 "ReferenceError: Can't find variable: central with riot 3.0.1"
I updated from riot 2.x to 3.01 and I am using webpack:

Any idea?

[2016-12-01 02:50] cognitom commented on #76
@weberan `riot-observable` seems not installed, or webpack couldn't find it in your dependency tree.

`central` is a central observer in `riot-route`
https://github.com/riot/route/blob/v3.0.1/dist/cjs.route.js#L27

[2016-12-01 21:12] weberan commented on #76
@cognitom I thought riot-observable was installed by installing riot itself. I added it to my setup, I upgraded webpack, babel and everything: still the same problem.

Loading the stuff also works well:

checked that already, looks fine for me.

[2016-12-02 01:08] cognitom commented on #76
@weberan could you show your setup, or a minimum repo for reproduce it?

[2016-12-02 18:08] bonpixel opened #77 "Template literals break IE"
**Do you want to request a feature or report a bug?**
This is a bug

**What is the current behavior?**
The page does not open in ie11. I get an error: Invalid character

**What is the expected behavior?**
No error

IE is breaking when it tries to evaluate the template literal here:
https://github.com/riot/route/blob/master/dist/cjs.route.js#L59

Per the MDN it doesn't look like those are supported

[2016-12-02 18:36] cognitom commented on #77
Hi @bonpixel, try `dist/route.js` instead.

`dist/cjs.route.js` is the file for webpack or browserify. You can't use it in browser directly.

[2016-12-02 18:50] bonpixel commented on #77
@cognitom I see what you mean, however, I actually was trying to use riot-route in a browserify context.

When  I `require('riot-route') in my index file, the `cjs.route.js` file is what is bundled. This is what I would expect from reading the package.json but I don't understand how are you recommending that I "require" riot-route given I want it in a browserify bundle?

[2016-12-02 19:22] cognitom commented on #77
@bonpixel I see. You're right. I didn't care the case without transpilers like `babel` or `buble`. Maybe we should transpile it...

[2016-12-02 19:47] cognitom commented on #77
We can simply add `buble` transpilation here:
https://github.com/riot/route/blob/v3.0.1/rollup.js#L20-L23

[2016-12-03 08:07] #77 closed

[2016-12-03 08:10] cognitom commented on #77
OK, now `v3.0.2` has been released and `dist/cjs.route.js` is correctly transpiled. @bonpixel thanks for pointing it out 😉

[2016-12-07 22:46] pfrlv opened #78 "Remove /"
Hi,
i have a `route.base('/translations)`
and when i click on link with `href="/translations/login"` my url becoming _/translationslogin_.
How i can create _translations/login_?

[2016-12-08 00:57] cognitom commented on #78
That seems strange...
I couldn't reproduce it. Could you show the minimal example? HTML and tag files.

[2016-12-08 06:48] pfrlv commented on #78
`route.base('/translators')`
[code]

And after click i have https://lingviny.com/translatorslogin

[2016-12-08 07:13] cognitom commented on #78
I need entire code to understand your situation...
Can you try to open this link, and create an example?
http://riotjs.com/examples/plunker/?app=bug-reporter

I know plunker doesn't support routing for history API, so you don't have to make it perfect.

[2016-12-08 07:29] pfrlv commented on #78
@cognitom http://run.plnkr.co/j0Jg1hVH8NkHYuuj/
Hmmmm....

[2016-12-08 08:07] pfrlv commented on #78
@cognitom i do not want to rush to answer, but what is it?

[2016-12-11 09:49] cognitom commented on #78
@pfrlv, gotcha. We might need normalization for `base()`.
Temporary solution is here:

[code]

I'll write the fix soon.

[2016-12-23 06:56] cognitom opened #79 "riot-route-tag: tag based router for Riot.js"
I'm thinking about **tag-based router** as a new feature. I'm now working on [feature/route-tag](https://github.com/riot/route/tree/feature/route-tag) branch and I'd like to share my current idea here. Nothing was decided yet. **Any feedback is welcome!**

### Todos

- for the first release
  - [x] implement `riot-route-tag` (draft)
  - [x] write tests
  - [x] ~~2 packages in 1 repo~~ 2 builds in

[2016-12-23 07:11] GianlucaGuarini commented on #79
I like the idea of having `require('riot-route/tag')` but I am not sure what it should return though.
Another thing to consider is the new `riot-hot-reload` feature that will land soon in riot https://github.com/riot/riot/pull/2095, how will these new features work together?

[2016-12-23 08:26] cognitom commented on #79
@GianlucaGuarini I like the idea `require('riot-route/tag')`, too. But I don't know any good way to provide the code for ES6. [jsnext:main or module](https://github.com/rollup/rollup/wiki/jsnext:main) in `package.json` is the way to do that but only for the main module of the package.

Alternatively we could use `.mjs` extension for ES6, but it seems fading away from the proposal...?

- `const rou

[2016-12-23 08:34] GianlucaGuarini commented on #79
@cognitom I would just compile the riot tags in a bundle and provide them under `riot-route/tag`. You can compile them using `riot -m` and you will get UMD wrappers ready for the dist version. I wouldn't even think about`main:next`

[2016-12-23 08:49] cognitom commented on #79
@GianlucaGuarini UMD doesn't support ES6...

Could you check [ES6](https://github.com/riot/route/blob/feature/html-router/packages/riot-route-tag/index.js) and [CJS](https://github.com/riot/route/blob/feature/html-router/packages/riot-route-tag/cjs.route-tag.js)?
It could also not be an option to provide the naked tags for ES6/CJS (rollup/webpack/browserify) without compilation. Because there's no

[2016-12-23 12:38] GianlucaGuarini commented on #79
I thought rollup could handle also handle CJS https://github.com/rollup/rollup-plugin-commonjs.

[2016-12-23 12:42] GianlucaGuarini commented on #79
[this file](https://github.com/riot/route/blob/feature/html-router/packages/riot-route-tag/route-tag.js) also does not really make sense. In case our users don't use a bundler we can assume that route (or `riot.rout`) and riot are globally available

[2016-12-23 12:55] cognitom commented on #79
@GianlucaGuarini  thanks for your feedback! I thought this:

[code]

would be better than this:

[code]

There's no use case we have to use `route-tag.js` separately in the latter case. (remember that we're not hosting `compiler.js` in `riot/riot` any more)

How about `route+tag.js` instead of `route-tag.js`?

[2016-12-23 13:07] cognitom commented on #79
Yeah, Rollup could handle CJS but I just don't want to... :sob:
Anyone would use CJS in frontend projects in 2017?

[2016-12-23 13:51] GianlucaGuarini commented on #79
@cognitom You know what? At this point I would prefer a separate repo for the `route-tag` and I would call it something like `riot-pequod` or `riot-nautilus` to make its name a bit more appealing and less sad than `route-tag`. In that repo you could simply add the `riot-route` and `riot` as dependency. I guess it does not make sense for other users using `riot-route` without riot, to download and

[2016-12-23 14:08] cognitom commented on #79
@GianlucaGuarini that's exactly why I've separated it into two. Ok, but I don't want to push it more. I've just looking for a simpler solution :expressionless:
Let's go with one package with two js files in the root dir:

- `tag.js` for `const route = require('riot-route/tag')`
- `es.tag.js` for `import route from 'riote-route/es.tag'`

Looks ok?

[2016-12-23 15:09] cognitom commented on #79
@GianlucaGuarini thanks!

I've rebranched as [feature/route-tag](https://github.com/riot/route/tree/feature/route-tag) and cleaned it up 😄

[2016-12-24 03:09] cognitom commented on #79
Related to this issue, I've sent https://github.com/rollup/rollup-plugin-node-resolve/pull/69. If it has been accepted, we'll be able to write simply like this:

[code]

[2016-12-29 10:59] pelid opened #81 "Unexpected behaviour of route.start(true)"
I have faced with strange behaviour of single page application built with riot.js . Its rendering was delayed until loading of all external js libraries finishes. It includes async externals, iframes content, etc. After investigation it became clear that `route.start(true)` calls appropriate route handler only after 'load' event browser trgiggers.

It was not trivial to find the reason, a lot of t

[2016-12-29 11:03] pelid commented on #81
@cognitom comment:

In my case most of js files and riot templates packed in single js bundle. riot.route is launched after this bundle is loaded.

[2016-12-29 11:15] cognitom commented on #81
@pelid the behaviour was introduced for fixing #33.
https://github.com/riot/route/blob/v3.0.2/lib/index.js#L329-L334

[2017-01-04 02:44] Shyam-Chen opened #82 "route(from, to)"
[code]
[code]

[2017-01-08 18:04] GianlucaGuarini commented on #81
@cognitom @pelid it seems a specific issue and not a route one. Riot-route allows you to start the router either automatically or via `exec`. The autostart strategy waiting the window load is a common behavior used also by other famous html5 routing library i don't see any issue here.

[2017-01-12 17:20] simonomis opened #83 "route.query() not working as expected when using # base"
When using # as the base, `route.query()` for these URLs is not behaving correctly:

- `index.html?param=xyz#/search` => `{ param: "xyz#/search" }`
- `index.html?param=xyz#/search?q=keyword` => `{ param: "xyz#/search?q=keyword" }`

Where `?param=xyz` are query params for the server rather than the router.

It's not entirely clear how it should behave. The docs don't address it and the specs only t

[2017-01-15 09:08] cognitom commented on #83
@simonomis right. Thank you for pointing it out.
Your spec seems reasonable for me.

[2017-01-29 14:12] cognitom commented on #79
OK, v3.1.0 has been released just now with our new tag based router 🎉

[2017-01-29 14:26] GianlucaGuarini commented on #79
congrats good job @cognitom

[2017-02-01 20:55] PascalLeMerrer opened #84 "Cannot pass options to routed tags"
Hello

I created a basic app with Riot 3.1.0, and the latest router (I built it from sources, as riot+route.min.js doesn't seem to be available on jsdelivr).

The app contains three files:

hello.tag:

[code]

app.tag:

[code]

index.html:

[code]
I expected this to display "Hello World!" but the result is "Hello!".
In hello.tag, this.opts.name is an empty string.

Did I miss something, or is ther

[2017-02-01 22:22] fujiyama-pl opened #85 "How to retrieve the matching filter on route?"
Is it possible to read original filter in riot.route or somewhere else for current page?
For example if I route to '/fruit/sth' how can I retrieve '/fruit/*' as defined matching pattern during route/mount.

[2017-02-02 17:24] cognitom commented on #84
@PascalLeMerrer maybe `<hello name={ parent.parent.name }></hello>`?

[2017-02-02 17:42] cognitom commented on #85
Hi @fujiyama-pl, you can modify [our built-in parser](https://github.com/riot/route/blob/v3.1.0/src/index.js#L47-L62).

It might be like below. I've just added `.concat(filter)` to the returning value:

[code]

See [Second Parser section](http://riotjs.com/api/route/#second-parser) on our document.

[2017-02-02 17:53] cognitom commented on #82
@Shyam-Chen is this a feature request for *redirection*?
Unfortunately, the API `route(string, string)` is already used for [this](http://riotjs.com/api/route/#routeto-title-shouldreplace).

At this point, I'd like to close this issue. Feel free to reopen it. Pls describe more about what you think, then.

[2017-02-02 17:53] #82 closed

[2017-02-03 07:39] PascalLeMerrer commented on #84
It dos not work. And even if it had, it wouldnt have been elegant. And I love Riot because it's elegant.

[2017-02-03 07:51] GianlucaGuarini commented on #84
@PascalLeMerrer is right we would need a better solution. The problem is that the `yield` directive in riot still sucks a bit, I would probably propose to use for now a custom solution. We will fix the yield issue in the next releases

[2017-02-03 08:58] PascalLeMerrer commented on #84
By now I will use a solution based on the [history API](https://developer.mozilla.org/en-US/docs/Web/API/History_API)

[2017-02-03 12:40] cognitom commented on #84
@PascalLeMerrer agreed. I'm not the big fan of `parent.parent.`, too.

BTW, it works in a not-elegant way, at least. Check this plunker.
http://plnkr.co/edit/FveBDxSRTWrfwPrl6NEF?p=preview

[2017-02-04 08:32] PascalLeMerrer commented on #84
My bad! I probably forgot to save my file when I tested. Thanks @cognitom

[2017-02-06 07:32] jonaspm opened #86 "Nested routes"
Hi! I am having trouble with nested routes... the problem is as follows:
1. Open app (http://localhost:3000#)
2. Go to (http://localhost:3000#app)
3. Content is blank (nav-bar does show)
4. After adding '/' at the end of URL from step2 and hitting Enter, content shows.

My app structure is as follows:

[code]

Note that this.on('route', (page) => ... is an unsuccessful try to fix the problem.

[2017-02-06 17:32] ufocool opened #87 "Why nested TAG mounted 2 times?"
[code]
[code]
Log console:

Why nested TAG mounted 2 times?
Why 2 records tag demo mount?

IF TAG <demo> insert before <router> then tag mounted 1 times...

[2017-02-06 18:18] GianlucaGuarini commented on #87
It seems to be related to the new riot version 3.1.1 I will investigate it

[2017-02-06 20:33] GianlucaGuarini commented on #87
@cognitom i need your help here I couldn't figure out where is the issue

[2017-02-06 20:52] GianlucaGuarini commented on #87
Here an example demonstrating the issue http://plnkr.co/edit/8VI1J9BCRNvGVK5SLOLX?p=preview

[2017-02-08 09:55] cognitom commented on #87
Will check soon. Wait a bit.

[2017-02-08 09:58] cognitom commented on #86
@jonaspm sorry for my late reply, could you make a example on [Plunker](http://riotjs.com/examples/plunker/?app=bug-reporter)?

[2017-02-08 10:12] cognitom commented on #87
Here's a plunker, I confirmed the double mounting @ufocool has reported.
http://plnkr.co/edit/ej93O9itH04HieD71w0r?p=preview

Hmm, I'll look it more deeply.

[2017-02-08 12:36] cognitom commented on #87
Oops, @GianlucaGuarini already made an example.

[2017-02-09 03:57] jonaspm commented on #86
@cognitom here it is:
http://plnkr.co/edit/qFpVM4?p=preview

Try navigating through routes several times... in one point on time the router stops working and error console log is shown...

[2017-02-10 16:39] GianlucaGuarini commented on #87
fixed in riot@3.2.1

[2017-02-10 16:39] #87 closed

[2017-02-22 13:57] continuata opened #88 "scroll to top on route change"
How should we handle scrolling to the top of a page on route change?
Scroll position is maintained across routing between pages, which is unexpected.

[2017-02-23 10:04] karantir commented on #79
Is there a plan to implement lazy loading/compiling for inner tags? Something like that:

[code]

[2017-02-23 10:41] cognitom commented on #79
@karantir sounds interesting. How about simply making seperated `<lazy>` loading tag?

[code]

I think we don't have to couple the router and *lazy loader*, at this point.

[2017-03-08 01:17] ogatakex commented on #88
[code]

[2017-03-12 13:04] Miss-Git opened #91 "Riot Router wildcard * not working"
Hello
I am testing a simple code:

`  route('/test/*', function (tst) {
        console.log(tst);
    });`

When I route to **mydomain/test/sth**

It gives so many irrelevant errors. Seems like it has problem with  " * ".

What should I do?

TNX

------------------------------------------------------------------------------------------------
P.S 1:
The problem is with more than one level URL in ro

[2017-04-03 14:36] no-wa-ke commented on #78
@cognitom that does not seem to work when you access without slash(/)...

http://plnkr.co/edit/meCJYbnkthLDwmGEf6U9

with slash:
http://run.plnkr.co/HMDQNXbfOieYXo3v/

wo slash:
http://run.plnkr.co/HMDQNXbfOieYXo3v

is this expected behavior?

[2017-04-07 14:46] AndreasHeintze opened #93 "How can I let the browser follow the link?"
If route(function() {}) callback is triggered, but I still want to let the browser follow the link, how can I do that?

[2017-04-19 18:58] exp10r3r commented on #86
This has become an issue for our use case as well.
We have a similar setup, wherein tags represent pages which have been grouped into modules and they are to have their own routing.

Starting up the app, it works perfectly whilst you are clicking around or using the browser navigation buttons, but as soon as the browser refresh button is pressed whilst you are in a tag which has declared its own `

[2017-04-20 20:06] GianlucaGuarini commented on #93
what do you mean by let the browser follow the link?

[2017-04-21 07:08] AndreasHeintze commented on #93
To just load the page the link is pointing to.

[2017-05-08 09:43] hiteshsomani opened #94 "Can we remove '#' from the url riot-route??"

[2017-05-08 10:24] hiteshsomani opened #95 "How to map route to tags ??"
riot.route('/someUrl', function() {
              // display the content of a tag
     };

[2017-05-09 11:05] hiteshsomani commented on #95
the callback is not getting executed ?? [#2339](https://github.com/riot/riot/issues/2339)

[2017-05-09 11:26] hiteshsomani commented on #95
in version 3.2 i'm trying to riot-route but the callback is not getting executed

     route('/url', function(){
         console.log("callback executed !!")
     })

nothing gets printed !!

[2017-05-09 11:44] #95 closed

[2017-05-10 20:31] GianlucaGuarini commented on #94
please check https://github.com/riot/riot/issues/2342

[2017-05-10 20:31] #94 closed

[2017-05-17 21:19] ghstahl opened #96 "Force a route feature."
I notice that we have an emit(force) in the code, and when I set it to true in the console it does what I need it to do.
Can we get something that from a usage point of view looks like this.

var force = true
riot.route(route,null,null, force);

I have a need where there is a handler for the route, but that handler's job is to dynamically build the real routes on demand.

1. Initial route /Hello..

[2017-05-18 02:09] cognitom commented on #96
Hi @ghstahl, doesn't [route.exec()](https://github.com/riot/route/tree/master/doc#routeexec) work in your situation?
It sounds a little bit tricky to build routes dynamically for me. Isn't it possible to create all of them before loading?

[2017-05-18 03:40] ghstahl commented on #96
https://github.com/ghstahl/riotjs-bootstrap3-startkit-sidebar
I actually dump the entire route and then event out via riotcontrol to all the route-contributors to repopulate.  So in reality it is simply doing the same load that I did at startup.  I am dynamically bringing in a mini riotjs app that has its own routes, so those routes are not known up front.  Currently to get by I do a route("") fol

[2017-05-18 14:02] ghstahl commented on #96
Thank you.
route.exec() works for me.

on a side note:
Can I get you to add an getter to fetch the current route the same way you have one for query;
route.query = function() {}
ie.
route.current = function() {}

[2017-05-23 00:41] jonaspm commented on #86
@cognitom Could you reproduce the issue?

[2017-05-23 06:14] marcel-se-best opened #97 "Router has Problems in Cordova-App"
In Cordova-Apps the router has problems with links as absoluterelative pathes like "/homepage/...".

Please change the RE_ORIGIN-RegEx in index.js:12 from
`/^.+?\/\/+[^\/]+/ `
to
`/^.+?\/\/([^\/]+|)/`

The following patterns are then valid an the router works in webapps and Cordova-Apps as well:
- http://host:80/home
- http://host:80/home/someMore
- file:///home
- file:///home/someMore
- etc.

Bes

[2017-05-30 20:33] atflick commented on #53
@cognitom @GianlucaGuarini have there been any fixes for this?  I am also trying to set a base route to '/' and not having any success with everything I have tried.  Thanks!

[2017-06-05 02:13] struct78 opened #98 "Ignore fragments option / fragments included in query object"
It would be great if there was an option to ignore fragments/prevent fragments from triggering a route change. We aren't using a hashbang scheme for our app, but we have links that are required to go to different anchors on the page.

For example, if I am on the main page of our app (/app/home) and click on an anchor that is supposed to scroll the user further down the page (/app/home#search), the

[2017-06-07 16:04] GianlucaGuarini commented on #98
@struct78 there is already a javascript api for this feature https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams why should the riot router provide a non standard way of doing it?

[2017-06-08 17:38] slai commented on #53
If you're getting the error in the console as shown in the first post, this is probably because you have included `riot+compiler.js` like so -

[code]

This works for `/` and `/first` URLs, but when you add another level, e.g. `/first/second`, your browser will then attempt to resolve `riot+compiler.min.js` within the new base, i.e. `/first/riot+compiler.min.js`. That probably doesn't exist, so fo

[2017-06-14 01:55] struct78 commented on #98
@GianlucaGuarini Not sure how that's relevant to my query? What I'm asking is, is it possible to include an option that prevents riot route from triggering a route change when a URL fragment is added or changed. I don't particularly care about fragments being included in the query object

[2017-06-14 06:21] GianlucaGuarini commented on #98
@struct78 ah ok sorry I got it wrong :)

[2017-06-14 08:37] cognitom commented on #98
@struct78 the `route.query()` was designed to handle a url like this:

[code]

not like this:

[code]

But it should be able to handle the latter one, I think. We can simply change the RegExp on this line:
https://github.com/riot/route/blob/f1bd42223963f9170cfd60045ca5824cb0f0f17f/src/index.js#L305

[2017-06-21 03:03] struct78 opened #99 "Query function: Multiple parameters with same key"
Hi there,

I noticed a small issue with route.query() when using a URL that has multiple parameters with the same key e.g. /locate?services=10&services=359&services=1248, the property with that key in the query object only has the last value. e.g.

[code]

I've solved this temporarily in my codebase by overriding the query function with the following, which simply checks if a key/value pair alread

[2017-06-30 06:15] agersant commented on #86
I have a similar issue in the app I work on. Here is a minimal [plunker reproducing the issue](http://plnkr.co/edit/PoEhZvrVviRgPkRV0kRU?p=preview).

Steps to repro after opening the plunker:

1. Click subrouter
2. Click basic
3. Observe console output `TypeError: r is undefined`

The site of the error is:
[code]

From my modest understanding of Riot's internal, I would guess that the issue is the

[2017-07-03 23:27] kiichi opened #101 "Mounting error with wildcard with route+tag"
Hello,

I'm trying to use the Tag based router example with custom inner tag

[code]
but this code below generates error when the tag is looking for the [parent object](https://github.com/riot/route/blob/master/src/tags/route.tag#L7).

[code]

- riot.js 3.6.1
- route+tag.js 3.1.1

http://plnkr.co/edit/Pz0EH8atDwUf59tCR8vR?p=preview

Is this wrong way to initialize tag based router? if this works,

[2017-07-12 13:27] ufocool commented on #101
fix this problem:
1. Move <router>...</router> in *.tag, example main.tag
2. Enable main.tag in html, <script type="riot/tag" src="main.tag"></script>
3. Add tag <main></main> in <body> after <a href ..... >  on your html files

[2017-07-12 16:06] ufocool opened #102 "Error on route+tag: Cannot set property 'show'"
Hello my friends. Please help me.

- riot.js 3.6.1
- route+tag.js 3.1.1

http://plnkr.co/edit/y0XQrs?p=preview

click menu1 -> click sub1 -> click menu2 -> click menu1 -> click sub1 -> error:

[2017-07-12 18:39] #86 closed

[2017-07-12 18:40] GianlucaGuarini commented on #102
fixed with https://github.com/riot/route/pull/100

[2017-07-12 19:04] GianlucaGuarini commented on #102
fixed in v3.1.2

[2017-07-12 19:04] #102 closed

[2017-07-12 19:05] GianlucaGuarini commented on #101
avoid the `*` and mount only your root tag http://plnkr.co/edit/UUvLw0jyjJupsnlFmL2Y?p=preview

[2017-07-12 19:05] #101 closed

[2017-07-12 19:06] GianlucaGuarini commented on #91
sorry provide a live example we could test, your issue description is not enough.

[2017-07-12 19:06] #91 closed

[2017-07-12 19:07] #85 closed

[2017-07-12 19:07] #67 closed

[2017-07-12 19:07] #62 closed

[2017-07-12 19:36] ufocool opened #103 "Symbol '+' in route+tag.min.js and HTTP/2 protocol"
Hello my friends.
Im enable HTTP/2.0 protocol in my project and loading route+tag.min.js says:
` Status Code:404 `
If remove symbol ‘+’ in route+tag.min.js => route.tag.min.js result:
` Status Code:200`
Symbol ‘+’ not valid on names in h2 protocol?
Yes all files are present in the directory 8-)

[2017-07-12 19:38] GianlucaGuarini commented on #103
use `route%2Btag.min.js` instead

[2017-07-12 19:38] #103 closed

[2017-07-13 04:38] kiichi commented on #101
ah it make sense, it works with

[code]

Thanks a lot

[2017-07-13 18:42] rhartzfeld opened #104 "Can't get route query using tag-based routing"
Is it possible to get the route query when using tag-based routing?  In my tag's `<script>` block I have the following...

[code]
... but the route object does not have a `query` property.  I'm using CommonJS for module loading and `riot-route@3.1.1`.

[2017-07-13 19:03] rhartzfeld commented on #104
I just discovered I'm having this issue because I was providing `route` via a Riot mixin.  My mixin was defined as:
[code]

I believe that, due to how Riot handles mixins, the non-enumerable inherited properties of `route` were being lost.  I changed my Mixin to the following and now it works:
[code]

[2017-08-17 20:51] robertology opened #105 "Routing to Existing Page"
Currently, clicking a link to the page you're on does nothing. In my app, I would like it to "reload" the page. For example, clicking a menu item in most websites will reload the page (get you back to a known state).

[2017-09-11 12:57] zorgoz opened #108 "Using riot-route with webpack3"
Hello,

I am struggling for a while, and still can't find any solution how to properly import `riot-route` in my code.
If I use `import route from 'riot-route';` in my `vendor.js`, I am getting this output, while no riot-route code is actually added to my emitted vendor.js and
[code]
is failing:
![image](https://user-images.githubusercontent.com/1569170/30275103-7bc059f8-9700-11e7-9b31-ccc6c9596fc

[2017-09-11 13:41] zorgoz commented on #108
I have a workaround, but not really nice:

1.  `import route from 'riot-route';`
2.  in webpack.config.js:
[code]
3.  in main.js (my entry point for webpack)
[code]

[2017-09-13 10:42] pmcalabrese commented on #108
try to have a look here

https://pmcalabrese.github.io/riotjs-webpack/

[2017-09-13 10:45] pmcalabrese opened #109 "Question: Is it possible with know the current route?"
I'd like to know my current route, there is a way with the router? or should I use regular JS?

[2017-09-30 11:37] bachly commented on #101
`riot.mount('route')` works

[2017-11-06 05:44] raphaelmerx opened #110 "Git tag release 3.1.2"
We're using bower, which relies on git tags. The latest version on npm is 3.1.2, however there hasn't been a git tag for that version. Could you please make one? Thanks!

[2017-11-10 21:01] bminer commented on #109
I have the same issue.  How do you quickly query the current route?

[2017-11-10 21:03] bminer commented on #53
This can probably be closed, right?

[2017-11-10 21:10] bminer opened #111 "<route> tag with `title` attribute/option"
It would be cool if `riot-route/tag` could be extended so that `<route>` tags can attach `title` attributes to set the page title if the `path` of the `<route>` tag matches.

I can submit a PR if you are interested.  What do you think?

[2017-11-11 11:50] GianlucaGuarini commented on #111
@bminer it sounds good go for it!

[2017-11-11 11:51] GianlucaGuarini commented on #53
@bminer you are right thanks for the reminder

[2017-11-11 11:51] #53 closed

[2017-11-11 12:15] GianlucaGuarini commented on #110
done thanks for the info

[2017-11-11 12:15] #110 closed

[2017-11-11 12:16] #108 closed

[2017-11-15 11:28] revington opened #112 "Question: What is the difference between firstParser and secondParser"
I read the documentation but I still don't get it

[2017-12-29 14:19] gfduszynski opened #113 "Nested routes and refresh problem"
Hi! I am having trouble with nested routes.
My issue looks very similar to the #86

I'm using version 3.1.2.

When I refresh the page only the top most router handles the event,
nested tag route handlers are not called.

Example:
[code]
When using links, history or pasting url I can only see 'loading'.
However if I manually remove 'o' and press enter, and then add 'o'
and press enter 'changeName'

[2018-01-03 22:12] gfduszynski commented on #113
Was someone able to confirm this ?

My general poking around suggests that at the time of handling the emitted event the router responsible for calling changeName does not exist yet. Therefore this explains why calling **route.exec()** helped.
It triggered emit just after mount if I understand correctly, when the router was finally initialized.

I failed to find any kind of info about this in the

[2018-01-05 14:23] stefanKBL opened #114 "How to use parser with trails segments"
Hi, having url like page/category_name/page_id
as i have multiple category and cannot use wildcard (page url in this case can be without other segment)
how to parse this kind of url and return category_name and page_id as variable to the route('page', function(category,id) {...})

Thanks

[2018-01-12 03:37] bradrydzewski commented on #25
@senica I ran into the same issue and ended up using `target="_top"` as a workaround. This opens the link in the full body of the current window, as opposed to a new tab or window. This should behave very similar to `_self` as long as you are not using frames.

[2018-01-23 13:39] gfduszynski commented on #113
Let me know if I can help :)

[2018-01-23 20:06] GianlucaGuarini commented on #113
can you please reproduce the issue in a jsfiddle or on something we can actually test? Thanks

[2018-02-20 07:43] sujeetbuddiga opened #116 "Unable to use route.start()"
I'm using riot with webpack, I'm not able to understand how to use it

[code]

When I write to **route** to console I see a **default** object there, not sure how can I use and why is such a thing even present.

**There is the output:**
![op](https://user-images.githubusercontent.com/3041104/36412435-3e60b62e-1640-11e8-81a5-8f932412c9c2.png)

[2018-02-20 07:49] sujeetbuddiga commented on #116
https://user-images.githubusercontent.com/3041104/36412356-e59b1db8-163f-11e8-86ba-27afd4ec8b3b.png

[2018-02-21 11:26] laznic commented on #116
Assuming you're using Webpack 2, it automatically defaults to using the `module` entry in `package.json`, so it offers the ES2015 syntax version of `riot-route` where it's doing `export default route`, hence why you're seeing the `default` object. There are couple ways to work with this.

1. Use ES2015 `import` instead of `require`
2. Do `const route = require('riot-route').default` so you can dir

[2018-02-22 08:30] laznic commented on #116
@sujeetbuddiga I admit that me saying Webpack 2 is a bit misleading, but that's pretty much just meaning the newer version of Webpack. The very first Webpack version (< 2) worked a lot differently than the next release and has been pretty much the same since then. Therefore Webpack v3 could also be thought to be part of Webpack 2.

In any case, I'll update the previous comment so that it's not tha

[2018-02-22 09:40] sujeetbuddiga commented on #116
Thanks @laznic  for the quick response.
I will try and update the thread ASAP, but I"m unable to understand the importance of **default** object there.

Please share any references which you provide me to understand its importance.

[2018-02-22 11:05] laznic commented on #116
This is just an issue with you using **CommonJS** import (`require(...)`) instead of **ES6**––imports/exports work a bit differently in these two.

In CommonJS, you'd export a module by using `module.exports = { ... }` and in ES6, the same thing is achieved by doing `export default ...`.  And this `export default` is actually a named import, except with the reserved name _default_,  hence it appea

[2018-02-22 11:16] GianlucaGuarini commented on #116
@laznic thanks for answering to this question. It's definitely not a route issue nor a webpack one. The solution is pretty simple and there tons of tutorial or discussions about this topics. There is no need to track this issue here since it's related to the compilation tools used to generate the js bundle. Thanks for asking it anyway.

p.s.
our [webpack example](https://github.com/riot/examples/t

[2018-02-22 11:16] #116 closed

[2018-02-28 11:38] sujeetbuddiga commented on #116
thanks @laznic  for helping me out.
@GianlucaGuarini  i wasn't aware of that, hope you understand that.

[2018-03-19 15:40] corbane opened #117 "Exemples"
Hello,

Are there more examples than the two from Plunker?

Thank you.

[2018-03-19 15:46] GianlucaGuarini commented on #117
https://github.com/riot/examples

[2018-03-19 15:46] #117 closed

[2018-05-04 17:39] DeltaV93 opened #118 "IE 10 routing issue on load"
I was testing in IE 10 by using the emulation tab in IE 11, I found that routing is not working on initial load.

If I land on http://localhost:8080/login the page loads the top nav and footer, but does not load the main view.

But when I land on  http://localhost:8080/  and click the logo that has an href of http://localhost:8080/login the main view loads correctly and I can navigate around the a

[2018-05-21 16:56] jrmykolyn commented on #112
Hey @revington

I recently peaked under the hood of the Riot.js router, so I'm happy to take a crack at answering your question. However, there's one caveat: the info below assumes that that you're using the default `parser` and `secondParser` functions (ie. you haven't provided custom parsers via `route.parser( <custom-parser>, <custom-second-parser> )`).

Hope this helps!

CC: @GianlucaGuarini a

[2018-05-21 17:01] jrmykolyn commented on #109
Hey @pmcalabrese

Do you need to transform/adjust the current route (ie. are you trying to extracting a value from it), or is your use cases similar to what @bminer described (ie. emphasize links which match the current route)?

[2018-05-23 07:20] revington commented on #112
Hey @jrmykolyn thanks for such  a complete answer, definitely this should be included in the docs

[2018-05-27 09:32] PeteCoward commented on #113
I too ran across this behaviour. Does this illustrate the problem well enough @GianlucaGuarini?
http://embed.plnkr.co/W5VUSaeDgjNHdOTQGDWZ/

In my project calling *route.exec()* in the child tag mount function worked around the behaviour

[2018-07-05 23:03] AndersonBargas commented on #84
Hello @PascalLeMerrer. I made a experiment that looks more elegant, since it´s don´t uses the parent reference.
Please, give a look at http://plnkr.co/edit/edr8ep?p=preview

[2018-07-06 18:47] PascalLeMerrer commented on #84
It's nicer indeed. Thx @AndersonBargas 👍

[2018-07-06 21:13] AndersonBargas commented on #118
Hello @DeltaV93 . I tried (almost the same code) on IE10 and everything went well. Maybe because i can´t exactly reproduce your setup (the files you uploaded isn´t enough to run your entire system).

Have you solved the problem or are you still experiencing difficulties?

[2018-07-06 21:18] AndersonBargas commented on #114
Hello @skobeo . There´s a special reason to avoid the wildcard at the route configuration?
Can you give a couple of real examples to clarify the problem?
Thanks in advance.

[2018-07-08 18:02] Asuza opened #119 "this.parent is null immediately upon load"
I need to get rid of this error, but I'm not sure what the cause is. The only thing that seems to make it go away is if I get rid of every single route in my `<router>` tag.

For example, this causes an error:
[code]
But this does not:
[code]

The error is as follows:
[code]

[2018-07-10 16:15] DeltaV93 commented on #118
@AndersonBargas  Hi thanks for trying to help. I was not able to get this working in IE. I'm going to set up a repo with all of the project files for you to test.

[2018-07-24 20:33] guilhermetrovo opened #120 "URL with both wildcards "*" and ".." fail parsing"
An example of URL is:
`/search/advanced?test=123`

The configuration is:
`
route("/search/*..", function(type) {
        let params = route.query();
        let testParam = params.test;
        // type == "a"
        // testParam == 123
});
`

[2018-07-24 20:35] guilhermetrovo commented on #120
I fixed it locally by changing the function _DEFAULT_SECOND_PARSER_.
I've changed the replace from `([^/?#]+?)` to `([^/?#]+)`

[2018-08-21 14:04] osamutake opened #121 "history state is changed even when route is not found"
I found that ``function go(path, title, shouldReplace)`` modifies browser's history, location and title before it checks if the specified route can be found by the parser.

https://github.com/riot/route/blob/c0e05d811f8448868a46e41db55a26f6bb8d7d2b/index.js#L191-L200

I'm afraid this is a wrong behavior.

``function click(e)`` does not ``preventDefault()`` when the route is not found, in order to

[2018-09-17 02:29] PeteCoward commented on #113
plunker with workaround https://embed.plnkr.co/YWnUIwGrevkk2ebIWfjQ/

Add this in the child tag
[code]

Note this only seems to work for one level of nested tag routing

- tag routing works fine
  - nested tag routing needs a route.exec() in the mount function
    - double nested tag routing I wish you the best of luck

[2018-09-20 17:04] chaunax opened #122 "Standalone version hosted on CDN?"
The CommonJS version is hosted by jsdelivr (https://cdn.jsdelivr.net/npm/riot-route@3.1.3/index.min.js), not the standalone version, which I think would be more useful.

Is that correct? If so, could we also get the standalone version added somehow as a variant or some other means?

[2018-09-20 17:05] #122 closed

[2018-10-02 15:46] virtuald commented on #113
Similar problem, but adding the `route.exec()` fixes it. Would be nice if this worked without issues, the tag-based routing is really intuitive to understand.

[2018-10-03 02:10] virtuald commented on #113
This is still pretty lightly tested, but I reworked the tag routing stuff so that it works correctly recursively. You can also put multiple child routers on a tag, and they'll all get triggered correctly. It's very much a break from how the current router tags behave, but it seems to work pretty well and is more intuitive to me.

I don't have much time to clean it up or PR it, but hopefully someon

[2018-10-13 00:00] virtuald commented on #113
I've updated my gist, it had some inconsistencies in how routes were being propagated -- sometimes the route event was top to bottom (initially), then sometimes it was bottom to top (after mount). Made a host of changes that make it behave a lot more reliably I think.

[2018-10-14 13:35] GianlucaGuarini commented on #113
Fixed in riot-route@3.1.4 many thanks to @aadilhasan

[2018-10-14 13:35] #113 closed

[2018-10-27 02:45] Asuza commented on #119
I was using `riot.mount('*');` when it wasn't working. However, switching it to `riot.mount('router');` seemed to solve the issue.

[2018-10-27 02:45] #119 closed

[2018-11-17 11:49] cybervaldez opened #124 "[Enhancement] subRoute.exec()"
The problem with route.exec() is how it executes every defined router so it's pretty inefficient when I just want to execute my custom tag's subrouter upon mounting for the first time. Although I can use route.query() to check unfortunately i need to parse my path as well.

Here's my pattern
[code]

**app.tag:**
[code]

**search.tag:**
[code]

[2019-06-22 17:36] Rydez opened #128 "Empty object when using es6 import"
I would like to import riot-route as shown in the documentation:
`import route from 'riot-route';`
However, this results in `route` just being an empty object, `{}`.
I took a look at the route.js file, and it's just defining a global:
`var route = (function...`
So, there's nothing being exported.

I suspect I'm not understanding something here. Does anyone have any advice for me?

[2019-06-22 17:47] Rydez commented on #128
Whelp, I just realized that the index file in the root of the project does the exporting. I was trying to use the min file in the dist folder.

[2019-06-22 17:47] #128 closed

[2019-10-29 15:52] infuzz opened #129 "Browser location bar doesn't reflect the change of a route.push('/mynewroute')"
1. Describe your issue:
using `route.push('/mynewroute')` change the effective route state but doesn't affect location bar.

If I add `history.pushState({}, null, '/newroute')` the location bar chnage and reflects teh new route

2. Can you reproduce the issue?
https://plnkr.co/edit/mzPkS7SFt2eS2wkyqK67

3. On which browser/OS does the issue appear?
Windows 10/ chrome 77, but I guess it's on all pl

[2019-11-03 18:53] GianlucaGuarini commented on #129
Fixed in 4.0.0-beta.2

[2019-11-03 18:53] #129 closed

[2019-11-14 12:15] hairlesshobo opened #130 "Riot v4 Support Status"
I have a new project that I am working on and would love to implement it with Riot v4, but I need routing support in order to do so. Was just wondering what the estimated time frame is for this project to be updated to support v4?

Thank you in advance!

[2019-11-14 12:23] GianlucaGuarini commented on #130
@hairlesshobo thanks for your question. The new router is available here https://github.com/riot/route/tree/dev in beta release. It will be released soon

[2019-11-14 12:28] hairlesshobo commented on #130
Wow, talk about a quick response!! Thank you, I look forward to checking it out!

[2019-11-14 20:49] GianlucaGuarini commented on #130
The new Route.js just got released

[2019-11-14 20:49] #130 closed

[2019-11-14 21:21] GianlucaGuarini opened #131 "Fix nested route handling"
The new v4 doesn't support nested routes yet

[2019-11-14 21:29] GianlucaGuarini opened #132 "Lazy components support"
Show an example of lazy loaded components

[2019-11-19 11:28] mgray-xpime commented on #131
It would be good to add this information to the readme file. I took me quite a long time to setup nested routing before finding this issue.

[2019-11-23 18:16] cybervaldez opened #133 "SSR + Standalone Route = window undefined"
This is my app.riot code. Compiling this through SSR would yield a window undefined error
[code]
I prefer to use this as standalone

[2019-11-23 18:49] cybervaldez commented on #133
I ended up just creating a singleton in Webpack and call that instead.

[2019-11-23 18:49] #133 closed

[2019-11-23 19:29] #131 closed

[2019-11-23 19:39] GianlucaGuarini commented on #124
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:39] #124 closed

[2019-11-23 19:39] GianlucaGuarini commented on #121
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:39] #121 closed

[2019-11-23 19:39] GianlucaGuarini commented on #120
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:39] #120 closed

[2019-11-23 19:39] GianlucaGuarini commented on #118
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:39] #118 closed

[2019-11-23 19:39] GianlucaGuarini commented on #114
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:39] #114 closed

[2019-11-23 19:40] GianlucaGuarini commented on #112
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:40] #112 closed

[2019-11-23 19:40] GianlucaGuarini commented on #111
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:40] #111 closed

[2019-11-23 19:40] GianlucaGuarini commented on #109
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:40] #109 closed

[2019-11-23 19:40] GianlucaGuarini commented on #105
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:40] #105 closed

[2019-11-23 19:40] GianlucaGuarini commented on #104
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:40] #104 closed

[2019-11-23 19:40] GianlucaGuarini commented on #99
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:40] #99 closed

[2019-11-23 19:41] GianlucaGuarini commented on #98
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:41] #98 closed

[2019-11-23 19:41] GianlucaGuarini commented on #97
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:41] #97 closed

[2019-11-23 19:41] GianlucaGuarini commented on #96
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:41] #96 closed

[2019-11-23 19:41] GianlucaGuarini commented on #93
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:41] #93 closed

[2019-11-23 19:41] GianlucaGuarini commented on #88
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:41] #88 closed

[2019-11-23 19:41] GianlucaGuarini commented on #84
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:41] #84 closed

[2019-11-23 19:42] GianlucaGuarini commented on #83
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:42] #83 closed

[2019-11-23 19:42] GianlucaGuarini commented on #81
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:42] #81 closed

[2019-11-23 19:42] GianlucaGuarini commented on #79
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:42] #79 closed

[2019-11-23 19:42] GianlucaGuarini commented on #78
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:42] #78 closed

[2019-11-23 19:42] GianlucaGuarini commented on #76
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:42] #76 closed

[2019-11-23 19:42] GianlucaGuarini commented on #75
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:42] #75 closed

[2019-11-23 19:42] GianlucaGuarini commented on #70
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:42] #70 closed

[2019-11-23 19:43] GianlucaGuarini commented on #68
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:43] #68 closed

[2019-11-23 19:43] GianlucaGuarini commented on #61
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:43] #61 closed

[2019-11-23 19:43] GianlucaGuarini commented on #58
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:43] #58 closed

[2019-11-23 19:43] GianlucaGuarini commented on #50
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:43] #50 closed

[2019-11-23 19:43] GianlucaGuarini commented on #48
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:43] #48 closed

[2019-11-23 19:43] GianlucaGuarini commented on #46
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:43] #46 closed

[2019-11-23 19:44] GianlucaGuarini commented on #41
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:44] #41 closed

[2019-11-23 19:44] GianlucaGuarini commented on #40
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:44] #40 closed

[2019-11-23 19:44] GianlucaGuarini commented on #39
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:44] #39 closed

[2019-11-23 19:44] GianlucaGuarini commented on #29
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:44] #29 closed

[2019-11-23 19:44] GianlucaGuarini commented on #27
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:44] #27 closed

[2019-11-23 19:44] GianlucaGuarini commented on #25
Closing this issue because it's related to an old router version. Please update to the latest `@riotjs/route` version if you can.

[2019-11-23 19:44] #25 closed

[2019-11-24 03:43] cybervaldez opened #134 "Request: Wildcards for routes"
Seems there's no way to capture everything after a path
`this.routes.view = Utils.route('/browse/:month')`

I want to satisfy: /browse/january, /browse/january/20, /browse/january/20/1986

Right now the only way to do this is to create 3 streams that satisfy the condition. I'm hoping for something like Utils.route('/browse/:month/*')

I tried working around this by using router.on.value() which tr

[2019-11-24 03:54] cybervaldez commented on #134
Ok it turns out this works to capture any event:
`this.routes.view = Utils.route('/browse(.*)')`

[2019-11-24 03:54] #134 closed

[2019-11-27 06:36] cybervaldez opened #135 "Route does not work well with @riotjs/ssr"
This shows up in the render
[code]

While this is yielding an error
[code]
The best solution I can come up with is to pass an ssr : true attribute to my render

[code]
I'm still trying to find a way to make my SSR truly isomorphic:
[code]

[2019-11-27 16:13] GianlucaGuarini commented on #135
Have you tried something like:
[code]

[2019-11-28 15:42] cybervaldez commented on #135
I'm unable to import it directly in the component.

`import { router } from '@riotjs/route';`
yields **ReferenceError: window is not defined**

To make routing work i'm registering the component globally in my bundle
[code]

so perhaps there's a way to access those global components from within a component?

[2019-12-05 14:46] hairlesshobo opened #136 "Do TypeScript definitions exist for route?"
I know that the newest version of riot (v4) comes bundled with typescript definitions. What about the route package? Are those somewhere and I have just missed them?

Thanks in advance!

[2019-12-10 00:02] AshenPheonix opened #137 "Router fails entirely when not in index of a folder"
[Demonstration](https://github.com/AshenPheonix/RiotRouterErrorDemo)
When not in index of folder, router fails entirely or copies address repeatedly.

[2019-12-18 18:33] GianlucaGuarini commented on #137
@AshenPheonix please update your component using the following code:

[code]

[2019-12-18 18:33] #137 closed

[2019-12-28 14:15] drorhilman opened #139 "When trying to put a component inside a route it is not mounted."
First, thank you very much for this amazing set of libraries!

I have loaded, imported and registered several riot 4 pre-compiled tags into the view...
One of them is a 'router_tag' that looks like this
[code]
The `<router_tag>` is warped inside a parent with `<router>` tag and navigation links.
The links **work fine** when a pure HTML is inserted to the `<route>` tags (like in the 'APPLY'  exampl

[2019-12-28 18:23] GianlucaGuarini commented on #139
@drorhilman could you please make a live demo of the issue?

[2019-12-29 15:17] drorhilman commented on #139
I found it hard to get it to work outside my local machine.
the riot code is auto-generated by my program and may have some mistakes. I can't found them though.
Here's a plunkr link with the code I am trying to get working ...
https://embed.plnkr.co/OidEuMcddB5ab5f8VFQs/

[2019-12-29 21:55] GianlucaGuarini commented on #139
@drorhilman the problem was in your code I have fixed it https://plnkr.co/edit/WkiuKRKYeDHs1f2rqhtr?p=preview

I don't see any route issue here but thanks for submitting your issue

[2019-12-29 21:55] #139 closed

[2019-12-30 05:54] drorhilman commented on #139
Can't it be done with a server-side compiling?
I see that you switch to the browser compiler mode.

[2019-12-30 17:13] GianlucaGuarini commented on #135
Please check the https://github.com/riot/examples/tree/gh-pages/ssr example. I have added async SSR to the whole RIot.js echosystem

[2019-12-30 17:13] #135 closed

[2020-02-11 00:03] infuzz opened #140 "Import route / router fails on Edge after rollup bundler"
Hello, I got a strange issue when importing route and router only on Microsoft Edge 44.18362.449.0
I use rollup to import, compile with rollup-riot-plugin and make a bundle.js
rollup-riot-plugin : 2.6.0
riot : 4.8.9
route : 5.2.1

All was working well on chrome, firefox and Edge before using riot/route

I started to implement riot/route and now all is working only on chrome and firefox.
On edge pa

[2020-02-11 07:15] GianlucaGuarini commented on #140
Thank you for submitting this issue I will investigate it asap

[2020-02-14 13:16] dpa99c opened #141 "Using router with rollup causes error"
I'm having a problem getting the [Riot Router](https://github.com/riot/route) to work with rollup.

Here's the steps to reproduce the issue using the [rollup example](https://github.com/riot/examples/tree/gh-pages/rollup):

Clone the examples and install dependencies for rollup example:

	git clone https://github.com/riot/examples && cd examples/rollup
	npm install

Add router module:

	npm i -S @

[2020-02-14 18:56] GianlucaGuarini commented on #141
The `@riotjs/route` depends on the lates Riot.js version `4.8.9` I have updated the example dependencies. There are no bugs you were using only an older riot version not compatible with the router

[2020-02-14 18:56] #141 closed

[2020-02-16 13:47] GianlucaGuarini commented on #132
Lazy routes support was added thanks to `@riotjs/lazy` please check the demo https://github.com/riot/examples/tree/gh-pages/lazy-routes

[2020-02-16 13:47] #132 closed

[2020-02-21 21:39] GianlucaGuarini commented on #140
Are you compiling your code with babel js? I that case you should transpile with rollup also `@riotjs/dom-bindings`

[2020-02-21 21:59] infuzz commented on #140
No,  I do not use Babel. Below is my rollup conf:
`import riot from 'rollup-plugin-riot'
import nodeResolve from 'rollup-plugin-node-resolve'
import commonjs from 'rollup-plugin-commonjs'
import copy from 'rollup-plugin-copy'
import css from 'rollup-plugin-css-only'
import json from 'rollup-plugin-json'

const production = !process.env.ROLLUP_WATCH;

export default {
    input: 'src/main.js',

[2020-02-22 21:35] #140 closed

[2020-02-22 21:36] GianlucaGuarini commented on #140
Fixed in @riojts/route@5.2.2. Please remember to update your Riot.js version as well

[2020-02-26 16:51] markgarrigan opened #142 "Infinite loop when child is directly nested in route"
When a child component is directly nested inside a route and calls a method from the parent component and the method calls update on the parent it creates an infinite loop.

https://next.plnkr.co/plunk/s4nvpkotEbQg1rAL

This is a workaround

https://next.plnkr.co/plunk/DX2B0DaUm0A1TafF

[2020-03-01 18:32] #142 closed

[2020-03-01 18:34] GianlucaGuarini commented on #142
Fixed in v5.3.0 please check https://next.plnkr.co/edit/ojc8AqGADk47qUHb

[2020-03-04 03:32] markgarrigan opened #143 "Child component onUpdated not firing"
I'm not sure if this is expected or a bug.

Child component is updated as expected when there is no router.
https://next.plnkr.co/plunk/NR9dSYLLv09Mw9D6

Child component not updated when inside router.
https://next.plnkr.co/plunk/aSNOZQlujas3NLwA

And also... if I shouldn't be doing this. Any suggestions on a better pattern?

[2020-03-08 21:20] #143 closed

[2020-03-12 19:57] fri-sch opened #144 "Exclude path from routing"
I have an app that uses the router to render multiple pages like `/page1`, `/page2`, etc. On one of these pages I want to put links to external files like `/data/file1.txt`, etc.

Is there some way to exclude these links from being handled by the router?
Or can I somehow limit the router to handle only the page links?

I see that there is a `base` attribute, but I want to keep my app at the root l

[2020-03-19 20:41] GianlucaGuarini commented on #144
Have you tried adding the [download attribute to your links](https://developer.mozilla.org/en-US/docs/Web/API/HTMLAnchorElement/download) `<a href="data/file.txt" download>Download file</a>`?

[2020-03-20 08:35] fri-sch commented on #144
No, I haven't. But it works!
Thanks a lot for the hint! I wanted to use the `download` attribute anyway to assign a proper name for the downloaded file.

[2020-03-20 08:35] #144 closed

[2020-03-22 23:32] BrockAtkinson opened #146 "Route function rather than Update"
Hi, I've been using riot for a number of years now, and have recently moved onto the new router (fantastic job btw). I find myself missing the previous `route()` handler [as mentioned in the v3 docs](https://github.com/riot/route/tree/v3/doc) and shown below:

[code]

When I tried replicating this functionality using the update lifecycle event, I ended up causing myself an infinite loop which caus

[2020-03-31 06:44] anonimusprogramus opened #147 "How to catch "404 Not Found" routes properly?"
I have this routes block:

[code]

When I browse `/about`, it says **About page 404!**

How to catch and show **404!** content only upon unregitered routes?

Thank you!

[2020-03-31 07:33] GianlucaGuarini commented on #147
At moment I didn't create a `<switch>` route component yet but you could check how I have implemented the not found site here https://github.com/riot/examples/blob/gh-pages/ssr/app/app.riot

[2020-03-31 07:55] anonimusprogramus commented on #147
Ah I see, was afraid I missed it in documentation. That ssr example gives me idea.

Btw, labeled enhancement, should this be closed or left opened?

Thank you.

[2020-03-31 07:56] GianlucaGuarini commented on #147
@anonimusprogramus I take it as reminder for a `<switch>` component that is already on my TODO list

[2020-03-31 08:51] #147 closed

[2020-04-13 08:59] GianlucaGuarini commented on #146
Have you already tried something like?
[code]

The new Riot.js router is completely built on the top of [rawth](https://github.com/gianlucaguarini/rawth)

[2020-04-15 15:51] Elastic1 opened #148 ""Maximum call stack size exceeded" error and a component inside route component are mounted multiple times"
here is the bug reproduced
https://codesandbox.io/s/riotjs-4-bug-template-9e5v0

[2020-04-25 13:49] #146 closed

[2020-04-25 16:56] #148 closed

[2020-07-08 08:22] geonanorch opened #149 "Bug in support of 'target' attribute"
Just found a small bug in v5.3.2, which results in 'target' attributes being ignored. In:

[code]

the call `isTargetSelfLink(el.target)` should read `isTargetSelfLink(el)`

[2020-07-08 08:36] GianlucaGuarini commented on #149
@geonanorch thank you. Can you please open a PR for it?

[2020-07-08 19:37] geonanorch commented on #149
Sure, though threre is really not much to it, more like a typo. [PR#150](https://github.com/riot/route/pull/150).

[2020-07-09 17:48] GianlucaGuarini commented on #149
thank you. It's fixed in @riotjs/route@5.3.3

[2020-07-09 17:48] #149 closed

[2020-07-11 11:15] RedKenrok opened #151 "Disable setting history."
Hello,

The router works perfectly, expect that is does a bit more than I would like it to. It automatically updates the windows history for me. Is there any way for me to disable this functionality or circumvent it.

Thank you in advance!

PS: I noticed that in the source code the function to get the history object from the window is mispelled as 'getHistorty'.

[2020-07-12 21:02] GianlucaGuarini commented on #151
@RedKenrok thank you for your feedback.

no it's not possible nor I think to accept any patch to disable it

that's exactly your problem :) and you should solve outside of @riot/route. You should identify you application flaw and fix it, if @riot/route doesn't feed your needs try to use something else.

[2020-07-13 17:06] RedKenrok commented on #151
Yeah. I'll look into setting up my own little router then. Thanks for the advice. In regards to the type, I have created a pull request.

[2020-07-13 17:06] #151 closed

[2020-07-26 12:24] RedKenrok commented on #151
For others who stumble across this. I wrote 'riouter' an alternative router with accompanying riot components. See https://github.com/RedKenrok/node-riouter or https://www.npmjs.com/package/riouter for more information.

[2020-11-23 15:33] skjerk opened #153 "Can't get routes with parameters to work"
I have tried to get routes with parameters to work, like `<route path="/test/:testid">Test</route>`
But every time I try to access the route with e.g. `localhost/test/123`, I get `Uncaught SyntaxError: Unexpected token '<'`
The application works fine otherwise and all other routes I have created work fine, and shows the components they're supposed to.

In my app.riot I have this

[code]

Perhaps t

[2020-11-23 16:34] skjerk commented on #153
Update.... Seems like it's a backend problem, as it intercepted the url before serving the riot SPA.
I could get it to work by prefixing all routes with `#` - e.g. `/#user/:userid` and adjusting all links to the route like `<a href="/#user/123"></a>`

[2020-11-23 16:34] #153 closed

[2021-02-09 07:57] geonanorch opened #155 "use decodeURI() on route"
Hi, and thank you for the new Riot.js 5.0 version, which indeed seems totally backward-compatible :-)

I just hit the issue reported in #29 and #57: I _assumed_ that whatever values were provided by `route` were already decoded and ended with a mismatch against application data as one of the path element contained a space.

So instead of writing:
[code]

I have to write:
[code]

The old issues men

[2021-02-13 15:11] GianlucaGuarini commented on #155
Thanks to the use of [erre](https://github.com/GianlucaGuarini/erre#streamconnectfunction) streams this issue can be simply solved with 1 line of code as it follows:

[code]

The problem here is that `decodeURIComponent` is not available in node so I have tried to keep `@riotjs/route` polymorphic for the client and server. Please let me know if the snipped above worked for you

[2021-02-24 20:08] geonanorch commented on #155
Sorry for the delay in answering, holidays got in the way...
Thank you for the tip, which looks pretty elegant. I will try it out in the coming days then either close this issue or report my findings.
Just a remark: since decoded data is the expected behavior (I am referring to my own experience + the issues I mentioned in the description), would it not be better to define a polyfill (even if just

[2021-03-02 18:18] geonanorch commented on #155
I tested your suggestion and it works fine for my case, thank you 😄

Since I still believe that this issue should be fixed within riot (by providing a dummy for Node.js, see my previous comment) I will leave the ticket open, decision is yours!

[2021-03-03 06:56] GianlucaGuarini commented on #155
@geonanorch the issue should be fixed in https://github.com/gianlucaguarini/rawth since this package depends on it

[2021-03-09 14:23] geonanorch commented on #155
@GianlucaGuarini not sure I understand, do you mean that you would like me to raise an issue against [rawth](https://github.com/gianlucaguarini/rawth) ?

By the way `decodeURIComponent` _is_ available under Node.js and is defined globally.

[2021-03-16 18:33] 01oseluiz opened #156 "setBase is working?"
Hi,

I try to use "setBase" and nothing happens, actually i don't understand the functionality of it.

what did I try:
[code]

And using ```setBase(`#`) or setBase(`/') or <router base="#"> or <router base="kajshdf">``` does the same

EDIT:
After some debug, i was able to use it with ``` <router base={"#"} > ``` instead of ``` <router base="#" > ```

But this broke my first request, because "repla

[2021-03-21 12:09] #155 closed

[2021-03-21 12:21] GianlucaGuarini commented on #156
@01oseluiz thank you for your feedback this issue has been fixed in v7.1.0 please use `<router base="#">`.

[2021-03-21 12:21] #156 closed

[2021-03-21 12:24] GianlucaGuarini commented on #136
@hairlesshobo actually that's not a complex task, could you please help me on that? The route API is really small.

PRs are welcome

[2021-06-08 16:26] markgarrigan opened #162 "Download a file"
How can I create a link inside a route that downloads a file?

I want to do...

`<a href="/path/to/some/file.pdf">PDF</a>`

But the router is handling it.

In a sort of related request... it would be really great if I could add something like a `data-no-router` attribute to any link I'd like the router to ignore.

[2021-06-09 06:12] GianlucaGuarini commented on #162
Use the `download` attribute of the links https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a?retiredLocale=it#attr-download

[2021-06-09 10:32] markgarrigan commented on #162
Thanks! For reference on anyone landing here my link looks like this now...

`<a href="relative/path/to/file.pdf" download="file.pdf">PDF</a>`

[2021-06-09 10:32] #162 closed